.hx-dropdown {
  background: var(--dropdown-background-color);
  box-shadow: 0px 2px 2px 2px var(--dropdown-shadow-color);
  border-color: var(--dropdown-border-color);
  border-radius: var(--dropdown-border-radius);
}

.hx-dropdown-up {
  margin-bottom: calc(-1 * var(--dropdown-spacing));
}

.hx-dropdown-down {
  margin-top: var(--dropdown-spacing);
}

.hx-dropdown-left {
  margin-right: var(--dropdown-spacing);
}

.hx-dropdown-right {
  margin-left: var(--dropdown-spacing);
}
