@import "hexagon.base.css";
@import "hexagon.theme.css";

:root {
  /* theme colours - private variables just to reduce duplication in this theme */
  --theme-default-color: #E6E6E6;
  --theme-positive-color: #9ace0d;
  --theme-warning-color: #f1a50e;
  --theme-negative-color: #f91076;
  --theme-info-color: #cd03f9;
  --theme-action-color: #00ceff;
  --theme-complement-color: #EFEFEF;
  --theme-contrast-color: #3D3D3D;

  --theme-default-text-color: #3D3D3D;
  --theme-text-light-color: #EFEFEF;
  --theme-text-dark-color: #3D3D3D;

  /* base */
  --base-default-font-family: 'Open Sans', sans-serif;
  --base-heading-font-family: 'Roboto Slab', sans-serif;
  --base-body-background-color: #FFF;
  --base-default-text-color: var(--theme-default-text-color);
  --base-heading-text-color: #4A536F;
  --base-input-background-color: #FAFAFA;
  --base-input-border-color: #D8D8D8;
  --base-input-text-color: var(--theme-default-text-color);
  --base-input-focus-border-color: #B5B5B5;
  --base-input-invalid-border-color: #DE1A4A;
  --base-input-border-radius: 2px;
  --base-select-background-color: #FAFAFA;
  --base-select-border-color: #D8D8D8;
  --base-select-text-color: var(--theme-default-text-color);
  --base-select-focus-border-color: #B5B5B5;
  --base-text-select-color: #B4B1B5;
  --base-link-color: #4E78A0;
  --base-divider-color: #E2E1E1;
  --base-divider-style: solid;
  --base-default-font-size: 14px;

  /* spinner */
  --spinner-color: var(--theme-action-color);

  /* modal */
  --modal-shade-color: rgba(0,0,0,0.5);
  --modal-background-color: #F7F7F7;
  --modal-title-background-color: #E6E6E6;
  --modal-title-text-color: var(--theme-default-text-color);
  --modal-title-font-size: 1em;
  --modal-shadow-color: rgba(0, 0, 0, 0.25);
  --modal-border-radius: 3px;
  --modal-border-color: #E6E6E6;

  /* notify */
  --notify-container-background-color: #FFF;
  --notify-container-border-color: transparent;
  --notify-shadow-color: rgba(0, 0, 0, 0.05);
  --notify-background-color: #FFF;
  --notify-text-color: var(--theme-default-text-color);
  --notify-border-color: #EFEFEF;
  --notify-default-color: #6582A6;
  --notify-positive-color: var(--theme-positive-color);
  --notify-warning-color: var(--theme-warning-color);
  --notify-negative-color: var(--theme-negative-color);
  --notify-info-color: var(--theme-info-color);
  --notify-close-color: #939393;
  --notify-close-hover-color: #555555;
  --notify-unpinned-color: #939393;
  --notify-unpinned-hover-color: #555555;
  --notify-pinned-color: #CB9856;
  --notify-pinned-hover-color: #FEB71D;

  /* button */
  --button-default-text-color: #3d3d3d;
  --button-default-background-color: #f0f0f0;
  --button-default-border-color: transparent;
  --button-default-hover-text-color: #3d3d3d;
  --button-default-hover-background-color: #f5f5f5;
  --button-default-hover-border-color: transparent;
  --button-default-focus-outline-color: #d2d2d2;
  --button-default-invert-text-color: #3d3d3d;
  --button-default-invert-background-color: #FFF;
  --button-default-invert-border-color: #d4d4d4;
  --button-default-invert-hover-text-color: #3d3d3d;
  --button-default-invert-hover-background-color: #f9f9f9;
  --button-default-invert-hover-border-color: #d4d4d4;

  --button-invisible-text-color: #3d3d3d;
  --button-disabled-background-color: #f5f5f5;
  --button-disabled-text-color: #aaaaaa;
  --button-disabled-border-color: transparent;

  --button-positive-text-color: #FFF;
  --button-positive-background-color: var(--theme-positive-color);
  --button-positive-border-color: transparent;
  --button-positive-hover-text-color: #FFF;
  --button-positive-hover-background-color: #a8e00f;
  --button-positive-hover-border-color: transparent;
  --button-positive-focus-outline-color: #659a07;
  --button-positive-invert-text-color: var(--theme-positive-color);
  --button-positive-invert-background-color: #FFF;
  --button-positive-invert-border-color: var(--theme-positive-color);
  --button-positive-invert-hover-text-color: var(--theme-positive-color);
  --button-positive-invert-hover-background-color: #eefdbf;
  --button-positive-invert-hover-border-color: var(--theme-positive-color);

  --button-warning-text-color: #FFF;
  --button-warning-background-color: var(--theme-warning-color);
  --button-warning-border-color: transparent;
  --button-warning-hover-text-color: #FFF;
  --button-warning-hover-background-color: #ffaa00;
  --button-warning-hover-border-color: transparent;
  --button-warning-focus-outline-color: #cc8b0c;
  --button-warning-invert-text-color: var(--theme-warning-color);
  --button-warning-invert-background-color: #FFF;
  --button-warning-invert-border-color: var(--theme-warning-color);
  --button-warning-invert-hover-text-color: var(--theme-warning-color);
  --button-warning-invert-hover-background-color: #ffeecd;
  --button-warning-invert-hover-border-color: var(--theme-warning-color);

  --button-negative-text-color: #FFF;
  --button-negative-background-color: var(--theme-negative-color);
  --button-negative-border-color: transparent;
  --button-negative-hover-text-color: #FFF;
  --button-negative-hover-background-color: #ff4d9b;
  --button-negative-hover-border-color: transparent;
  --button-negative-focus-outline-color: #ca065c;
  --button-negative-invert-text-color: var(--theme-negative-color);
  --button-negative-invert-background-color: #FFF;
  --button-negative-invert-border-color: var(--theme-negative-color);
  --button-negative-invert-hover-text-color: var(--theme-negative-color);
  --button-negative-invert-hover-background-color: #ffe6f1;
  --button-negative-invert-hover-border-color: var(--theme-negative-color);

  --button-info-text-color: #FFF;
  --button-info-background-color: var(--theme-info-color);
  --button-info-border-color: transparent;
  --button-info-hover-text-color: #FFF;
  --button-info-hover-background-color: #dc3bff;
  --button-info-hover-border-color: transparent;
  --button-info-focus-outline-color: #640079;
  --button-info-invert-text-color: var(--theme-info-color);
  --button-info-invert-background-color: #FFF;
  --button-info-invert-border-color: var(--theme-info-color);
  --button-info-invert-hover-text-color: var(--theme-info-color);
  --button-info-invert-hover-background-color: #fbe8ff;
  --button-info-invert-hover-border-color: var(--theme-info-color);

  --button-action-text-color: #FFF;
  --button-action-background-color: var(--theme-action-color);
  --button-action-border-color: transparent;
  --button-action-hover-text-color: #FFF;
  --button-action-hover-background-color: #49d9fb;
  --button-action-hover-border-color: transparent;
  --button-action-focus-outline-color: #0586a5;
  --button-action-invert-text-color: var(--theme-action-color);
  --button-action-invert-background-color: #FFF;
  --button-action-invert-border-color: var(--theme-action-color);
  --button-action-invert-hover-text-color: var(--theme-action-color);
  --button-action-invert-hover-background-color: #eefcff;
  --button-action-invert-hover-border-color: var(--theme-action-color);

  /* form */
  --form-error-text-color: #FFF;
  --form-error-background-color: rgba(0, 0, 0, 0.7);

  /* dropdown */
  --dropdown-background-color: #FFF;
  --dropdown-shadow-color: rgba(0, 0, 0, 0.05);
  --dropdown-border-color: #e4e4e4;
  --dropdown-spacing: 0;

  /* collapsible */
  --collapsible-heading-background-color: #FFF;
  --collapsible-heading-text-color: #4A536F;
  --collapsible-toggle-hover-background-color: var(--theme-action-color);
  --collapsible-toggle-hover-text-color: #FFF;
  --collapsible-toggle-background-color: #DDD;
  --collapsible-toggle-text-color: var(--theme-default-text-color);
  --collapsible-content-border-color: transparent;
  --collapsible-content-background-color: #F7F7F7;
  --collapsible-content-text-color: var(--theme-default-text-color);
  --collapsible-shadow-color: rgba(0, 0, 0, 0.05);

  /* palette */
  --palette-default-text-color: var(--theme-text-dark-color);
  --palette-default-background-color: var(--theme-default-color);
  --palette-default-background-text-color: var(--theme-text-dark-color);
  --palette-default-border-color: var(--theme-default-color);

  --palette-action-text-color: var(--theme-action-color);
  --palette-action-background-color: var(--theme-action-color);
  --palette-action-background-text-color: var(--theme-text-light-color);
  --palette-action-border-color: var(--theme-action-color);

  --palette-positive-text-color: var(--theme-positive-color);
  --palette-positive-background-color: var(--theme-positive-color);
  --palette-positive-background-text-color: var(--theme-text-light-color);
  --palette-positive-border-color: var(--theme-positive-color);

  --palette-warning-text-color: var(--theme-warning-color);
  --palette-warning-background-color: var(--theme-warning-color);
  --palette-warning-background-text-color: var(--theme-text-light-color);
  --palette-warning-border-color: var(--theme-warning-color);

  --palette-negative-text-color: var(--theme-negative-color);
  --palette-negative-background-color: var(--theme-negative-color);
  --palette-negative-background-text-color: var(--theme-text-light-color);
  --palette-negative-border-color: var(--theme-negative-color);

  --palette-info-text-color: var(--theme-info-color);
  --palette-info-background-color: var(--theme-info-color);
  --palette-info-background-text-color: var(--theme-text-light-color);
  --palette-info-border-color: var(--theme-info-color);

  --palette-complement-text-color: var(--theme-text-light-color);
  --palette-complement-background-color: var(--theme-complement-color);
  --palette-complement-background-text-color: var(--theme-text-dark-color);
  --palette-complement-border-color: var(--theme-complement-color);

  --palette-contrast-text-color: var(--theme-text-dark-color);
  --palette-contrast-background-color: var(--theme-contrast-color);
  --palette-contrast-background-text-color: var(--theme-text-light-color);
  --palette-contrast-border-color: var(--theme-contrast-color);

  --palette-disabled-text-color: #CCCCCC;
  --palette-disabled-background-color: #F3F3F3;
  --palette-disabled-background-text-color: #939393;
  --palette-disabled-border-color: #EFEFEF;

  /* titlebar */
  --titlebar-default-background-color: white;
  --titlebar-action-background-color: var(--theme-action-color);
  --titlebar-positive-background-color: var(--theme-positive-color);
  --titlebar-warning-background-color: var(--theme-warning-color);
  --titlebar-negative-background-color: var(--theme-negative-color);
  --titlebar-info-background-color: var(--theme-info-color);
  --titlebar-title-font-family: 'Roboto Slab', sans-serif;
  --titlebar-title-font-size: 1.7em;
  --titlebar-title-text-color: #3D3D3D;
  --titlebar-heading-shadow-color: rgba(0, 0, 0, 0.05);
  --titlebar-heading-border-bottom-color: #DDDDDD;
  --titlebar-heading-border-bottom-width: 0;
  --titlebar-text-color: #3D3D3D;
  --titlebar-icon-color: rgba(255,255,255,0.5);
  --titlebar-icon-hover-color: rgba(255,255,255,0.75);
  --titlebar-linkbar-background-color: #F2F2F2;
  --titlebar-link-text-color: #3D3D3D;
  --titlebar-link-text-hover-color: #3D3D3D;
  --titlebar-link-border-hover-color: #777;
  --titlebar-link-border-selected-color: #373D45;
  --titlebar-mobile-view-icons-background-color: #424A54;
  --titlebar-mobile-view-icons-text-color: #DADADA;
  --titlebar-mobile-view-icons-text-hover-color: #EEEEEE;
  --titlebar-height: 46px;
  --titlebar-linkbar-height: 40px;
  --titlebar-menu-context-text-color: #FFF;
  --titlebar-icon-tooltip-background-color: #000;
  --titlebar-icon-tooltip-text-color: #FFF;
  --titlebar-font-weight: 100;
  --titlebar-icon-vertical-offset: 12px;
  --titlebar-icon-background-color: transparent;
  --titlebar-context-text-color: #F3F3F3;
  --titlebar-context-icon-background: #373D45;
  --titlebar-menu-context-border-color: rgba(255,255,255,0.1);
  --titlebar-context-icon-color: rgba(255, 255, 255, 0.5);
  --titlebar-context-icon-hover-color: rgba(255, 255, 255, 0.85);

  /* layout */
  --layout-content-padding: 1em;
  --layout-content-max-width: 1200px;
  --layout-content-background-color: transparent;
  --layout-margin: 0.3em;
  --layout-border-color: #D0D0D0;
  --layout-named-class-min-width: 250px;
  --layout-content-breakpoint: 1300px;
  --layout-content-breakpoint-width: 900px;

  /* menu */
  --menu-border-width: #ffffff;
  --menu-collapsible-background-color: #ffffff;
  --menu-collapsible-text-color: #ffffff;

  --menu-disabled-background-color: #ffffff;
  --menu-disabled-text-color: #ffffff;

  --menu-default-border-color: #ffffff;
  --menu-default-background-color: #ffffff;
  --menu-default-text-color: var(--theme-default-text-color);
  --menu-default-border-color-hover: #ffffff;
  --menu-default-background-color-hover: #ffffff;
  --menu-default-text-color-hover: #ffffff;

  --menu-action-border-color: transparent;
  --menu-action-background-color: #ffffff;
  --menu-action-text-color: var(--theme-default-text-color);
  --menu-action-border-color-hover: var(--theme-action-color);
  --menu-action-background-color-hover: var(--theme-action-color);
  --menu-action-text-color-hover: #ffffff;

  --menu-positive-border-color: transparent;
  --menu-positive-background-color: #ffffff;
  --menu-positive-text-color: var(--theme-default-text-color);
  --menu-positive-border-color-hover: var(--theme-positive-color);
  --menu-positive-background-color-hover: var(--theme-positive-color);
  --menu-positive-text-color-hover: #ffffff;

  --menu-negative-border-color: #ffffff;
  --menu-negative-background-color: #ffffff;
  --menu-negative-text-color: #ffffff;
  --menu-negative-border-color-hover: #ffffff;
  --menu-negative-background-color-hover: #ffffff;
  --menu-negative-text-color-hover: #ffffff;

  --menu-warning-border-color: #ffffff;
  --menu-warning-background-color: #ffffff;
  --menu-warning-text-color: #ffffff;
  --menu-warning-border-color-hover: #ffffff;
  --menu-warning-background-color-hover: #ffffff;
  --menu-warning-text-color-hover: #ffffff;

  --menu-info-border-color: #ffffff;
  --menu-info-background-color: #ffffff;
  --menu-info-text-color: #ffffff;
  --menu-info-border-color-hover: #ffffff;
  --menu-info-background-color-hover: #ffffff;
  --menu-info-text-color-hover: #ffffff;

  --menu-complement-border-color: #ffffff;
  --menu-complement-background-color: #ffffff;
  --menu-complement-text-color: #ffffff;
  --menu-complement-border-color-hover: #ffffff;
  --menu-complement-background-color-hover: #ffffff;
  --menu-complement-text-color-hover: #ffffff;

  --menu-contrast-border-color: #ffffff;
  --menu-contrast-background-color: #ffffff;
  --menu-contrast-text-color: #ffffff;
  --menu-contrast-border-color-hover: #ffffff;
  --menu-contrast-background-color-hover: #ffffff;
  --menu-contrast-text-color-hover: #ffffff;
}
