*.orig
*.sublime-project
*.sublime-workspace
*.swp
.DS_Store
.npmrc
.sass-cache
.idea
/debug

npm-debug.log
node_modules

docs/resources/hexagon/nextReleaseVersion

# Genererated Folders
/demo
/dist
target
coverage
