.hx-collapsible {
  &.hx-collapsible-expanded {
    > .hx-collapsible-heading .hx-collapsible-icon {
      transform: rotate(90deg);
      // fallback for when the animation completes / doesn't work

    }
  }

  .hx-collapsible-heading {
    padding: 0.4em;

    &.hx-collapsible-heading-no-hover {
      padding: 0;
      margin: 0;
    }

    .hx-collapsible-icon {
      margin-right: 0.5em;
      margin-left: 0.25em;
      height: 16px;

      &:last-child {
        margin-right: 0.25em;
      }
    }

    &:not(.hx-collapsible-heading-no-hover),
    .hx-collapsible-toggle {
      user-select: none;
      cursor: pointer;
    }

    .hx-collapsible-toggle {
      padding: 0.4em;
      margin: 0;
    }
  }

  .hx-collapsible-content {
    border-width: 1px;
    border-top: none;
    overflow: hidden;
  }
}