.hx-btn {
  color: var(--button-default-text-color);
  background: var(--button-default-background-color);
  border-color: var(--button-default-border-color);
}

.hx-btn:active,
.hx-btn:hover {
  color: var(--button-default-hover-text-color);
  background: var(--button-default-hover-background-color);
  border-color: var(--button-default-hover-border-color);
}

.hx-btn.hx-btn-outline {
  color: var(--button-default-invert-text-color);
  background: var(--button-default-invert-background-color);
  border-color: var(--button-default-invert-border-color);
}

.hx-btn.hx-btn-outline:active,
.hx-btn.hx-btn-outline:hover {
  color: var(--button-default-invert-hover-text-color);
  background: var(--button-default-invert-hover-background-color);
  border-color: var(--button-default-invert-hover-border-color);
}

.hx-btn:focus {
  box-shadow: 0 0 0 1px var(--button-default-focus-outline-color);
}

/* Positive button styles */

.hx-btn.hx-positive {
  color: var(--button-positive-text-color);
  background: var(--button-positive-background-color);
  border-color: var(--button-positive-border-color);
}

.hx-btn.hx-positive:active,
.hx-btn.hx-positive:hover {
  color: var(--button-positive-hover-text-color);
  background: var(--button-positive-hover-background-color);
  border-color: var(--button-positive-hover-border-color);
}

.hx-btn.hx-btn-outline.hx-positive {
  color: var(--button-positive-invert-text-color);
  background: var(--button-positive-invert-background-color);
  border-color: var(--button-positive-invert-border-color);
}

.hx-btn.hx-btn-outline.hx-positive:active,
.hx-btn.hx-btn-outline.hx-positive:hover {
  color: var(--button-positive-invert-hover-text-color);
  background: var(--button-positive-invert-hover-background-color);
  border-color: var(--button-positive-invert-hover-border-color);
}

.hx-btn.hx-positive:focus {
  box-shadow: 0 0 0 1px var(--button-positive-focus-outline-color);
}

/* Warning button styles */

.hx-btn.hx-warning {
  color: var(--button-warning-text-color);
  background: var(--button-warning-background-color);
  border-color: var(--button-warning-border-color);
}

.hx-btn.hx-warning:active,
.hx-btn.hx-warning:hover {
  color: var(--button-warning-hover-text-color);
  background: var(--button-warning-hover-background-color);
  border-color: var(--button-warning-hover-border-color);
}

.hx-btn.hx-btn-outline.hx-warning {
  color: var(--button-warning-invert-text-color);
  background: var(--button-warning-invert-background-color);
  border-color: var(--button-warning-invert-border-color);
}

.hx-btn.hx-btn-outline.hx-warning:active,
.hx-btn.hx-btn-outline.hx-warning:hover {
  color: var(--button-warning-invert-hover-text-color);
  background: var(--button-warning-invert-hover-background-color);
  border-color: var(--button-warning-invert-hover-border-color);
}

.hx-btn.hx-warning:focus {
  box-shadow: 0 0 0 1px var(--button-warning-focus-outline-color);
}

/* Negative button styles */

.hx-btn.hx-negative {
  color: var(--button-negative-text-color);
  background: var(--button-negative-background-color);
  border-color: var(--button-negative-border-color);
}

.hx-btn.hx-negative:active,
.hx-btn.hx-negative:hover {
  color: var(--button-negative-hover-text-color);
  background: var(--button-negative-hover-background-color);
  border-color: var(--button-negative-hover-border-color);
}

.hx-btn.hx-btn-outline.hx-negative {
  color: var(--button-negative-invert-text-color);
  background: var(--button-negative-invert-background-color);
  border-color: var(--button-negative-invert-border-color);
}

.hx-btn.hx-btn-outline.hx-negative:active,
.hx-btn.hx-btn-outline.hx-negative:hover {
  color: var(--button-negative-invert-hover-text-color);
  background: var(--button-negative-invert-hover-background-color);
  border-color: var(--button-negative-invert-hover-border-color);
}

.hx-btn.hx-negative:focus {
  box-shadow: 0 0 0 1px var(--button-negative-focus-outline-color);
}

/* Info button styles */

.hx-btn.hx-info {
  color: var(--button-info-text-color);
  background: var(--button-info-background-color);
  border-color: var(--button-info-border-color);
}

.hx-btn.hx-info:active,
.hx-btn.hx-info:hover {
  color: var(--button-info-hover-text-color);
  background: var(--button-info-hover-background-color);
  border-color: var(--button-info-hover-border-color);
}

.hx-btn.hx-btn-outline.hx-info {
  color: var(--button-info-invert-text-color);
  background: var(--button-info-invert-background-color);
  border-color: var(--button-info-invert-border-color);
}

.hx-btn.hx-btn-outline.hx-info:active,
.hx-btn.hx-btn-outline.hx-info:hover {
  color: var(--button-info-invert-hover-text-color);
  background: var(--button-info-invert-hover-background-color);
  border-color: var(--button-info-invert-hover-border-color);
}

.hx-btn.hx-info:focus {
  box-shadow: 0 0 0 1px var(--button-info-focus-outline-color);
}

/* Action button styles */

.hx-btn.hx-action {
  color: var(--button-action-text-color);
  background: var(--button-action-background-color);
  border-color: var(--button-action-border-color);
}

.hx-btn.hx-action:active,
.hx-btn.hx-action:hover {
  color: var(--button-action-hover-text-color);
  background: var(--button-action-hover-background-color);
  border-color: var(--button-action-hover-border-color);
}

.hx-btn.hx-btn-outline.hx-action {
  color: var(--button-action-invert-text-color);
  background: var(--button-action-invert-background-color);
  border-color: var(--button-action-invert-border-color);
}

.hx-btn.hx-btn-outline.hx-action:active,
.hx-btn.hx-btn-outline.hx-action:hover {
  color: var(--button-action-invert-hover-text-color);
  background: var(--button-action-invert-hover-background-color);
  border-color: var(--button-action-invert-hover-border-color);
}

.hx-btn.hx-action:focus {
  box-shadow: 0 0 0 1px var(--button-action-focus-outline-color);
}

.hx-btn.hx-btn-invisible {
  color: var(--button-invisible-text-color);
}

.hx-btn:disabled,
.hx-btn.hx-disabled,
.hx-btn:disabled:hover,
.hx-btn.hx-disabled:hover,
.hx-btn:disabled:active,
.hx-btn.hx-disabled:active {
  background: var(--button-disabled-background-color);
  color: var(--button-disabled-text-color);
  border: 1px solid var(--button-disabled-border-color);
}


.hx-flag-button .hx-btn,
.hx-btn.hx-primary,
.hx-btn.hx-secondary,
.hx-btn.hx-success,
.hx-btn.hx-danger,
.hx-btn.hx-btn-link,
.hx-btn.hx-btn-normal {
  height: var(--button-normal-height);
  font-size: var(--button-normal-font-size);
  line-height: var(--button-normal-line-height);
  padding: var(--button-normal-padding);
}

.hx-btn.hx-btn-small {
  height: var(--button-small-height);
  font-size: var(--button-small-font-size);
  line-height: var(--button-small-line-height);
  padding: var(--button-small-padding);
}

.hx-btn.hx-btn-micro {
  height: var(--button-micro-height);
  font-size: var(--button-micro-font-size);
  line-height: var(--button-micro-line-height);
  padding: var(--button-micro-padding);
}

.hx-flag-button .hx-btn,
.hx-btn.hx-btn-normal,
.hx-btn.hx-btn-small,
.hx-btn.hx-btn-micro {
  cursor: pointer;
  border-radius: var(--button-border-radius);
}
.hx-flag-button .hx-btn,
.hx-btn.hx-btn-normal,
.hx-btn.hx-btn-small,
.hx-btn.hx-btn-micro {
  font-weight: var(--button-default-font-weight);
  color: var(--button-default-text-color);
  background: var(--button-default-background-color);
  border-color: var(--button-default-border-color);
}
.hx-flag-button .hx-btn:active, .hx-flag-button .hx-btn:hover,
.hx-btn.hx-btn-normal:active,
.hx-btn.hx-btn-normal:hover,
.hx-btn.hx-btn-small:active,
.hx-btn.hx-btn-small:hover,
.hx-btn.hx-btn-micro:active,
.hx-btn.hx-btn-micro:hover {
  color: var(--button-default-text-hover-color);
  background: var(--button-default-background-hover-color);
  border-color: var(--button-default-border-hover-color);
  text-decoration: none;
}
.hx-flag-button .hx-btn:disabled,
.hx-btn.hx-btn-normal:disabled,
.hx-btn.hx-btn-small:disabled,
.hx-btn.hx-btn-micro:disabled {
  cursor: not-allowed;
}
.hx-flag-button .hx-btn:disabled,
.hx-btn.hx-btn-normal:disabled,
.hx-btn.hx-btn-small:disabled,
.hx-btn.hx-btn-micro:disabled {
  font-weight: var(--button-disabled-font-weight);
  color: var(--button-disabled-text-color);
  background: var(--button-disabled-background-color);
  border-color: var(--button-disabled-border-color);
}
.hx-flag-button .hx-btn:disabled:active, .hx-flag-button .hx-btn:disabled:hover,
.hx-btn.hx-btn-normal:disabled:active,
.hx-btn.hx-btn-normal:disabled:hover,
.hx-btn.hx-btn-small:disabled:active,
.hx-btn.hx-btn-small:disabled:hover,
.hx-btn.hx-btn-micro:disabled:active,
.hx-btn.hx-btn-micro:disabled:hover {
  color: var(--button-disabled-text-color);
  background: var(--button-disabled-background-color);
  border-color: var(--button-disabled-border-color);
  text-decoration: none;
}

.hx-btn.hx-btn-link {
  font-weight: var(--button-link-font-weight);
  color: var(--button-link-text-color);
  background: transparent;
  border-color: transparent;
}
.hx-btn.hx-btn-link:active, .hx-btn.hx-btn-link:hover {
  color: var(--button-link-text-hover-color);
  background: transparent;
  border-color: transparent;
  text-decoration: underline;
}
.hx-btn.hx-primary {
  font-weight: var(--button-primary-font-weight);
  color: var(--button-primary-text-color);
  background: var(--button-primary-background-color);
  border-color: var(--button-primary-border-color);
}
.hx-btn.hx-primary:active, .hx-btn.hx-primary:hover {
  color: var(--button-primary-text-hover-color);
  background: var(--button-primary-background-hover-color);
  border-color: var(--button-primary-border-hover-color);
  text-decoration: none;
}
.hx-btn.hx-secondary {
  font-weight: var(--button-secondary-font-weight);
  color: var(--button-secondary-text-color);
  background: var(--button-secondary-background-color);
  border-color: var(--button-secondary-border-color);
}
.hx-btn.hx-secondary:active, .hx-btn.hx-secondary:hover {
  color: var(--button-secondary-text-hover-color);
  background: var(--button-secondary-background-hover-color);
  border-color: var(--button-secondary-border-hover-color);
  text-decoration: none;
}
.hx-btn.hx-success {
  font-weight: var(--button-success-font-weight);
  color: var(--button-success-text-color);
  background: var(--button-success-background-color);
  border-color: var(--button-success-border-color);
}
.hx-btn.hx-success:active, .hx-btn.hx-success:hover {
  color: var(--button-success-text-hover-color);
  background: var(--button-success-background-hover-color);
  border-color: var(--button-success-border-hover-color);
  text-decoration: none;
}
.hx-btn.hx-danger {
  font-weight: var(--button-danger-font-weight);
  color: var(--button-danger-text-color);
  background: var(--button-danger-background-color);
  border-color: var(--button-danger-border-color);
}
.hx-btn.hx-danger:active, .hx-btn.hx-danger:hover {
  color: var(--button-danger-text-hover-color);
  background: var(--button-danger-background-hover-color);
  border-color: var(--button-danger-border-hover-color);
  text-decoration: none;
}
