.hx-btn {
  background: var(--button-default-background-col);
  color: var(--button-default-text-col);
  border-color: var(--button-default-border-col);
}
.hx-btn:active,
.hx-btn:hover {
  background: var(--button-default-hover-background-col);
}
.hx-btn:focus {
  box-shadow: 0 0 0 1px var(--button-default-focus-col);
}
.hx-btn.hx-btn-outline,
.hx-btn.hx-btn-invert {
  background: var(--button-invert-background-col);
  color: var(--button-invert-text-col);
  border-color: var(--button-invert-border-col);
}
.hx-btn.hx-btn-outline:hover,
.hx-btn.hx-btn-invert:hover {
  background: var(--button-invert-hover-col);
  color: var(--button-default-text-col);
}
.hx-btn.hx-action {
  background: var(--button-action-background-col);
  color: var(--button-action-text-col);
  border-color: var(--button-action-border-col);
}
.hx-btn.hx-action:active,
.hx-btn.hx-action:hover {
  background: var(--button-action-hover-background-col);
}
.hx-btn.hx-action:focus {
  box-shadow: 0 0 0 1px var(--button-action-focus-col);
}
.hx-btn.hx-action.hx-btn-outline,
.hx-btn.hx-action.hx-btn-invert {
  background: var(--button-invert-background-col);
  color: var(--button-invert-text-col);
  border-color: var(--button-invert-border-col);
}
.hx-btn.hx-action.hx-btn-outline:hover,
.hx-btn.hx-action.hx-btn-invert:hover {
  background: var(--button-invert-hover-col);
  color: var(--button-action-background-col);
}
.hx-btn.hx-positive {
  background: var(--button-positive-background-col);
  color: var(--button-positive-text-col);
  border-color: var(--button-positive-border-col);
}
.hx-btn.hx-positive:active,
.hx-btn.hx-positive:hover {
  background: var(--button-positive-hover-background-col);
}
.hx-btn.hx-positive:focus {
  box-shadow: 0 0 0 1px var(--button-positive-focus-col);
}
.hx-btn.hx-positive.hx-btn-outline,
.hx-btn.hx-positive.hx-btn-invert {
  background: var(--button-invert-background-col);
  color: var(--button-invert-text-col);
  border-color: var(--button-invert-border-col);
}
.hx-btn.hx-positive.hx-btn-outline:hover,
.hx-btn.hx-positive.hx-btn-invert:hover {
  background: var(--button-invert-hover-col);
  color: var(--button-positive-background-col);
}
.hx-btn.hx-negative {
  background: var(--button-negative-background-col);
  color: var(--button-negative-text-col);
  border-color: var(--button-negative-border-col);
}
.hx-btn.hx-negative:active,
.hx-btn.hx-negative:hover {
  background: var(--button-negative-hover-background-col);
}
.hx-btn.hx-negative:focus {
  box-shadow: 0 0 0 1px var(--button-negative-focus-col);
}
.hx-btn.hx-negative.hx-btn-outline,
.hx-btn.hx-negative.hx-btn-invert {
  background: var(--button-invert-background-col);
  color: var(--button-invert-text-col);
  border-color: var(--button-invert-border-col);
}
.hx-btn.hx-negative.hx-btn-outline:hover,
.hx-btn.hx-negative.hx-btn-invert:hover {
  background: var(--button-invert-hover-col);
  color: var(--button-negative-background-col);
}
.hx-btn.hx-warning {
  background: var(--button-warning-background-col);
  color: var(--button-warning-text-col);
  border-color: var(--button-warning-border-col);
}
.hx-btn.hx-warning:active,
.hx-btn.hx-warning:hover {
  background: var(--button-warning-hover-background-col);
}
.hx-btn.hx-warning:focus {
  box-shadow: 0 0 0 1px var(--button-warning-focus-col);
}
.hx-btn.hx-warning.hx-btn-outline,
.hx-btn.hx-warning.hx-btn-invert {
  background: var(--button-invert-background-col);
  color: var(--button-invert-text-col);
  border-color: var(--button-invert-border-col);
}
.hx-btn.hx-warning.hx-btn-outline:hover,
.hx-btn.hx-warning.hx-btn-invert:hover {
  background: var(--button-invert-hover-col);
  color: var(--button-warning-background-col);
}
.hx-btn.hx-info {
  background: var(--button-info-background-col);
  color: var(--button-info-text-col);
  border-color: var(--button-info-border-col);
}
.hx-btn.hx-info:active,
.hx-btn.hx-info:hover {
  background: var(--button-info-hover-background-col);
}
.hx-btn.hx-info:focus {
  box-shadow: 0 0 0 1px var(--button-info-focus-col);
}
.hx-btn.hx-info.hx-btn-outline,
.hx-btn.hx-info.hx-btn-invert {
  background: var(--button-invert-background-col);
  color: var(--button-invert-text-col);
  border-color: var(--button-invert-border-col);
}
.hx-btn.hx-info.hx-btn-outline:hover,
.hx-btn.hx-info.hx-btn-invert:hover {
  background: var(--button-invert-hover-col);
  color: var(--button-info-background-col);
}
.hx-btn.hx-complement {
  background: var(--button-complement-background-col);
  color: var(--button-complement-text-col);
  border-color: var(--button-complement-border-col);
}
.hx-btn.hx-complement:active,
.hx-btn.hx-complement:hover {
  background: var(--button-complement-hover-background-col);
}
.hx-btn.hx-complement:focus {
  box-shadow: 0 0 0 1px var(--button-complement-focus-col);
}
.hx-btn.hx-complement.hx-btn-outline,
.hx-btn.hx-complement.hx-btn-invert {
  background: var(--button-invert-background-col);
  color: var(--button-invert-text-col);
  border-color: var(--button-invert-border-col);
}
.hx-btn.hx-complement.hx-btn-outline:hover,
.hx-btn.hx-complement.hx-btn-invert:hover {
  background: var(--button-invert-hover-col);
  color: var(--button-complement-text-col);
}
.hx-btn.hx-contrast {
  background: var(--button-contrast-background-col);
  color: var(--button-contrast-text-col);
  border-color: var(--button-contrast-border-col);
}
.hx-btn.hx-contrast:active,
.hx-btn.hx-contrast:hover {
  background: var(--button-contrast-hover-background-col);
}
.hx-btn.hx-contrast:focus {
  box-shadow: 0 0 0 1px var(--button-contrast-focus-col);
}
.hx-btn.hx-contrast.hx-btn-outline,
.hx-btn.hx-contrast.hx-btn-invert {
  background: var(--button-invert-background-col);
  color: var(--button-invert-text-col);
  border-color: var(--button-invert-border-col);
}
.hx-btn.hx-contrast.hx-btn-outline:hover,
.hx-btn.hx-contrast.hx-btn-invert:hover {
  background: var(--button-invert-hover-col);
  color: var(--button-contrast-background-col);
}
.hx-btn.hx-btn-invisible {
  color: var(--button-invisible-text-col);
  border: none;
  background: transparent;
}
.hx-btn.hx-btn-invisible:hover,
.hx-btn.hx-btn-invisible:active {
  background: transparent;
}
.hx-btn:disabled,
.hx-btn.hx-disabled,
.hx-btn:disabled:hover,
.hx-btn:disabled:active,
.hx-btn.hx-disabled:hover,
.hx-btn.hx-disabled:active {
  background: var(--button-disabled-background-col);
  color: var(--button-disabled-text-col);
  border: 1px solid var(--button-disabled-border-col);
}





.hx-flag-button .hx-btn,
.hx-flag-button.hx-btn,
.hx-btn.hx-primary,
.hx-btn.hx-secondary,
.hx-btn.hx-success,
.hx-btn.hx-danger,
.hx-btn.hx-btn-link,
.hx-btn.hx-btn-normal {
  height: var(--button-normal-height);
  font-size: var(--button-normal-font-size);
  line-height: var(--button-normal-line-height);
  padding: var(--button-normal-padding);
}

.hx-btn.hx-btn-small {
  height: var(--button-small-height);
  font-size: var(--button-small-font-size);
  line-height: var(--button-small-line-height);
  padding: var(--button-small-padding);
}

.hx-btn.hx-btn-micro {
  height: var(--button-micro-height);
  font-size: var(--button-micro-font-size);
  line-height: var(--button-micro-line-height);
  padding: var(--button-micro-padding);
}

.hx-flag-button .hx-btn,
.hx-flag-button.hx-btn,
.hx-btn.hx-btn-normal,
.hx-btn.hx-btn-small,
.hx-btn.hx-btn-micro {
  cursor: pointer;
  border-radius: var(--button-border-radius);
}
.hx-flag-button .hx-btn,
.hx-flag-button.hx-btn,
.hx-btn.hx-btn-normal,
.hx-btn.hx-btn-small,
.hx-btn.hx-btn-micro {
  font-weight: var(--button-default-font-weight);
  color: var(--button-default-text-color);
  background: var(--button-default-background-color);
  border-color: var(--button-default-border-color);
}
.hx-flag-button .hx-btn:active,
.hx-flag-button.hx-btn:active,
.hx-flag-button .hx-btn:hover,
.hx-flag-button.hx-btn:hover,
.hx-btn.hx-btn-normal:active,
.hx-btn.hx-btn-normal:hover,
.hx-btn.hx-btn-small:active,
.hx-btn.hx-btn-small:hover,
.hx-btn.hx-btn-micro:active,
.hx-btn.hx-btn-micro:hover {
  color: var(--button-default-text-hover-color);
  background: var(--button-default-background-hover-color);
  border-color: var(--button-default-border-hover-color);
  text-decoration: none;
}
.hx-flag-button .hx-btn:disabled,
.hx-flag-button.hx-btn:disabled,
.hx-btn.hx-btn-normal:disabled,
.hx-btn.hx-btn-small:disabled,
.hx-btn.hx-btn-micro:disabled {
  cursor: not-allowed;
}
.hx-flag-button .hx-btn:disabled,
.hx-flag-button.hx-btn:disabled,
.hx-btn.hx-btn-normal:disabled,
.hx-btn.hx-btn-small:disabled,
.hx-btn.hx-btn-micro:disabled {
  font-weight: var(--button-disabled-font-weight);
  color: var(--button-disabled-text-color);
  background: var(--button-disabled-background-color);
  border-color: var(--button-disabled-border-color);
}
.hx-flag-button .hx-btn:disabled:active,
.hx-flag-button.hx-btn:disabled:active,
.hx-flag-button .hx-btn:disabled:hover,
.hx-flag-button.hx-btn:disabled:hover,
.hx-btn.hx-btn-normal:disabled:active,
.hx-btn.hx-btn-normal:disabled:hover,
.hx-btn.hx-btn-small:disabled:active,
.hx-btn.hx-btn-small:disabled:hover,
.hx-btn.hx-btn-micro:disabled:active,
.hx-btn.hx-btn-micro:disabled:hover {
  color: var(--button-disabled-text-color);
  background: var(--button-disabled-background-color);
  border-color: var(--button-disabled-border-color);
  text-decoration: none;
}

.hx-btn.hx-btn-link {
  font-weight: var(--button-link-font-weight);
  color: var(--button-link-text-color);
  background: transparent;
  border-color: transparent;
}
.hx-btn.hx-btn-link:active,
.hx-btn.hx-btn-link:hover {
  color: var(--button-link-text-hover-color);
  background: transparent;
  border-color: transparent;
  text-decoration: underline;
}
.hx-btn.hx-primary {
  font-weight: var(--button-primary-font-weight);
  color: var(--button-primary-text-color);
  background: var(--button-primary-background-color);
  border-color: var(--button-primary-border-color);
}
.hx-btn.hx-primary:active,
.hx-btn.hx-primary:hover {
  color: var(--button-primary-text-hover-color);
  background: var(--button-primary-background-hover-color);
  border-color: var(--button-primary-border-hover-color);
  text-decoration: none;
}
.hx-btn.hx-secondary {
  font-weight: var(--button-secondary-font-weight);
  color: var(--button-secondary-text-color);
  background: var(--button-secondary-background-color);
  border-color: var(--button-secondary-border-color);
}
.hx-btn.hx-secondary:active,
.hx-btn.hx-secondary:hover {
  color: var(--button-secondary-text-hover-color);
  background: var(--button-secondary-background-hover-color);
  border-color: var(--button-secondary-border-hover-color);
  text-decoration: none;
}
.hx-btn.hx-success {
  font-weight: var(--button-success-font-weight);
  color: var(--button-success-text-color);
  background: var(--button-success-background-color);
  border-color: var(--button-success-border-color);
}
.hx-btn.hx-success:active,
.hx-btn.hx-success:hover {
  color: var(--button-success-text-hover-color);
  background: var(--button-success-background-hover-color);
  border-color: var(--button-success-border-hover-color);
  text-decoration: none;
}
.hx-btn.hx-danger {
  font-weight: var(--button-danger-font-weight);
  color: var(--button-danger-text-color);
  background: var(--button-danger-background-color);
  border-color: var(--button-danger-border-color);
}
.hx-btn.hx-danger:active,
.hx-btn.hx-danger:hover {
  color: var(--button-danger-text-hover-color);
  background: var(--button-danger-background-hover-color);
  border-color: var(--button-danger-border-hover-color);
  text-decoration: none;
}

.hx-input-group > .hx-btn {
  margin: 0;
  border-radius: 0;
}
