.hx-menu {
  overflow-y: auto;
}

.hx-menu-item.hx-menu-link {
  border-left: solid 2px transparent;
  cursor: pointer;
}

.hx-menu-item.hx-menu-link a {
  display: block;
  color: inherit;
}

.hx-menu-item.hx-menu-link a:hover {
  text-decoration: none;
}

.hx-menu-item > .hx-collapsible > .hx-menu-collapsible {
  border-left: solid 2px transparent;
}

.hx-menu-item > .hx-collapsible > .hx-menu-collapsible .hx-collapsible-icon {
  margin-left: 0;
}

.hx-menu-item.hx-menu-item-disabled {
  cursor: not-allowed;
  user-select: none;
}

.hx-menu-item.hx-menu-unselectable {
  cursor: default;
  user-select: none;
}

.hx-flag-menu .hx-menu-item.hx-menu-link {
  border-left: none;
}
