.hx-form:not(.hx-flag-form) {
  margin-bottom: 0;
  text-align: right;
  display: inline-block;
}

.hx-form:not(.hx-flag-form) .hx-form-buttons > * {
  display: inline-block;
}

.hx-form:not(.hx-flag-form) > div:not(.hx-form-buttons) {
  text-align: left;
  display: table-row;
}

.hx-form:not(.hx-flag-form) > div:not(.hx-form-buttons) > * {
  display: table-cell;
}

.hx-form:not(.hx-flag-form) > div:not(.hx-form-buttons) > *:not(input):not(select):not(textarea):not(button):not(.hx-btn) {
  padding-top: 8px;
}

.hx-form:not(.hx-flag-form) input[type="radio"],
.hx-form:not(.hx-flag-form) input[type="checkbox"] {
  margin-top: 0em;
  display: inline-block;
}

.hx-form:not(.hx-flag-form) > button[type="submit"] {
  margin-top: 8px;
  margin-right: 0;
}


/* Padding top doesn't look right for inputs and select and the other margins make the boxes difficult to align */
.hx-form:not(.hx-flag-form) > div:not(.hx-form-buttons) > input,
.hx-form:not(.hx-flag-form) > div:not(.hx-form-buttons) > select,
.hx-form:not(.hx-flag-form) > div:not(.hx-form-buttons) > textarea,
.hx-form:not(.hx-flag-form) > div:not(.hx-form-buttons) > button,
.hx-form:not(.hx-flag-form) > div:not(.hx-form-buttons) > .hx-btn {
  margin: 8px 0 0 0;
}

.hx-form:not(.hx-flag-form) > div:not(.hx-form-buttons) > div > .hx-btn,
.hx-form:not(.hx-flag-form) > div:not(.hx-form-buttons) > div > button {
  margin: 0;
}

.hx-form:not(.hx-flag-form) > div:not(.hx-form-buttons) > input:not([type="checkbox"]):not([type="radio"]),
.hx-form:not(.hx-flag-form) > div:not(.hx-form-buttons) > select,
.hx-form:not(.hx-flag-form) > div:not(.hx-form-buttons) > textarea {
  min-width: 20em;
  width: 100%;
  box-sizing: border-box;
}

.hx-form:not(.hx-flag-form) > div:not(.hx-form-buttons) > label {
  text-align: right;
  vertical-align: middle;
  padding-right: 16px;
  padding-top: 8px;
  height: 2em;
}

.hx-form:not(.hx-flag-form) > div:not(.hx-form-buttons) > input[type="radio"],
.hx-form:not(.hx-flag-form) > div:not(.hx-form-buttons) > input[type="checkbox"] {
  margin-top: 1em;
}

.hx-form:not(.hx-flag-form) .hx-form-error {
  color: red;
}

.hx-form:not(.hx-flag-form) .hx-form-error > div {
  padding-top: 0 !important;
}

.hx-form:not(.hx-flag-form) .hx-form-error .hx-form-error-text-container {
  position: relative;
  z-index: 1000;
}

.hx-form:not(.hx-flag-form) .hx-form-error .hx-form-error-text-container .hx-form-error-text {
  display: block;
  position: absolute;
  padding: 0.4em;
  margin-top: 0.2em;
  border-radius: 5px;
}

.hx-form:not(.hx-flag-form) .hx-form-error .hx-form-error-text-container .hx-form-error-text:before {
  border: solid transparent;
  border-color: rgba(136, 183, 213, 0);
  border-width: 5px;
  bottom: 100%;
  content: ' ';
  height: 0;
  left: 1em;
  pointer-events: none;
  position: absolute;
  width: 0;
}

@media (max-width: 480px) {
  .hx-form:not(.hx-flag-form) > div:not(.hx-form-buttons) > input:not([type="checkbox"]):not([type="radio"]),
  .hx-form:not(.hx-flag-form) > div:not(.hx-form-buttons) > select,
  .hx-form:not(.hx-flag-form) > div:not(.hx-form-buttons) > textarea {
    min-width: 14em;
  }
}

.hx-form-builder-hidden-form-input {
  margin: -0.25em 0 0 0;
  padding: 0;
  width: 1.3em;
  height: 1.3em;
  position: absolute;
  left: 0.4em;
  top: 13px;
  z-index: -1;
  visibility: hidden;
}

.hx-form .hx-form-group {
  display: inline-block;
  vertical-align: top;
}

.hx-form-group .hx-input,
.hx-form-group .hx-input-textarea {
  width: 100%;
}
