$border-style: 1px solid $sidebar-border-col;

.hx-drawing-sidebar {
  background: $sidebar-background-col;
  color: $sidebar-text-col;

  .hx-drawing-sidebar-title {
    background: $sidebar-title-background-col;
    color: $sidebar-title-text-col;
  }
}

.hx-drawing-sidebar-t {
  border-bottom: $border-style;
}

.hx-drawing-sidebar-r {
  border-left: $border-style;
}

.hx-drawing-sidebar-b {
  border-top: $border-style;
}

.hx-drawing-sidebar-l {
  border-right: $border-style;
}
