.hx-notification-container {
  position: absolute;
  max-width: 90%;
  width: 480px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 106;
  box-sizing: border-box;
}

.hx-notification-container:empty {
  display: none;
}

body > .hx-notification-container {
  position: fixed;
  top: 46px;
}

body.hx-titlebar-link-padding > .hx-notification-container {
  top: 86px;
}

@media (max-width: 900px) {
  body.hx-titlebar-link-padding > .hx-notification-container {
    top: 46px;
  }
}

body.hx-modal-open > .hx-notification-container {
  top: 0;
}

.hx-notification {
  padding: 0.25em;
  position: relative;
  pointer-events: auto;
  display: flex;
  /* Stops long messages wrapping onto second line */
  flex-wrap: nowrap;
  border-bottom: solid 1px;
}

.hx-notification:last-child {
  border-bottom: none;
}

.hx-notification > div {
  padding: 4px;
}

.hx-notification .hx-notification-icon-container {
  width: 1em;
  text-align: center;
  user-select: none;
  flex-grow: 0;
  margin: 0;
}

.hx-notification .hx-notification-close,
.hx-notification .hx-notification-pin {
  cursor: pointer;
}

.hx-notification .hx-notification-content {
  word-wrap: break-word;
  flex: 1 1 auto;
}

.hx-notification.hx-loading .hx-notification-icon {
  font-size: 0.75em;
}

@media (max-width: 500px) {
  .hx-notification-container {
    width: 350px;
    margin-left: -175px;
  }
}

@media (max-width: 350px) {
  .hx-notification-container {
    width: 100%;
    margin-left: 0;
    left: 0;
  }
}
