.hx-drag-container {
  position: relative;

  .hx-drag-element {
    vertical-align: middle;
  }

  .hx-drag-control {
    cursor: move;
  }

  .hx-drag-current {
    position: absolute;
    z-index: 1000;
    margin: 0;
    opacity: 0.7;
    vertical-align: middle;
  }

  .hx-drag-placeholder {
    position: relative;
    vertical-align: middle;
    // prevent inherited classes giving the placeholder strange styles
    background: transparent !important;
    border: none !important;

    div {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-width: 1px;
      border-style: dashed;
    }
  }
}