.hx-drag-container {
  position: relative;
}

.hx-drag-container .hx-drag-element {
  vertical-align: middle;
}

.hx-drag-container .hx-drag-control {
  cursor: move;
}

.hx-drag-container .hx-drag-current {
  position: absolute;
  z-index: 1000;
  margin: 0;
  opacity: 0.7;
  vertical-align: middle;
}

.hx-drag-container .hx-drag-placeholder {
  position: relative;
  vertical-align: middle;
  // prevent inherited classes giving the placeholder strange styles
  background: transparent !important;
  border: none !important;
}

.hx-drag-container .hx-drag-placeholder div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-width: 1px;
  border-style: dashed;
}