.hx-tab {
  display: inline-block;
  padding: 0.5em 1em;
  border-top: solid 3px;
  border-left: solid 1px;
  border-right: solid 1px;

  &:hover {
    cursor: pointer;
  }
}

.hx-tabs-content {
  margin-top: -1px;
  border: solid 1px;
}

.hx-tab-content-hidden {
  display: none;
}