.hx-tabs {
  display: flex;
  flex-wrap: wrap;
}

.hx-tab {
  display: inline-block;
  padding: 0.5em 1em;
  border-top: solid 3px;
  border-left: solid 1px;
  border-right: solid 1px;
  margin-right: 3px;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.hx-tabs-content {
  margin-top: -1px;
  border: solid 1px;
  flex: 1 1 100%;
}

.hx-tab-content-hidden {
  display: none;
}
