// Inner inside outer element (e.g. .hx-progress-bar.hx-positive)
@mixin progress-bar-outer($class, $col) {
  &#{if($class, "." + $class, "")} {

    .hx-progress-bar-inner {
      background: $col;
    }
  }
}

// Inner inside outer element (e.g. .hx-progress-bar.hx-positive)
@mixin progress-bar-inner($class, $col) {
  &#{if($class, "." + $class, "")} {
    background: $col;
  }
}

.hx-progress-bar {
  border-color: $border-col;
  border-width: $border-width;
  background-color: $background-col;
  @include progress-bar-outer(hx-action, $action-col);
  @include progress-bar-outer(hx-positive, $positive-col);
  @include progress-bar-outer(hx-negative, $negative-col);
  @include progress-bar-outer(hx-warning, $warning-col);
  @include progress-bar-outer(hx-info, $info-col);
  @include progress-bar-outer(hx-compliment, $compliment-col);
  @include progress-bar-outer(hx-contrast, $contrast-col);

  .hx-progress-bar-inner {
    background-color: $default-col;
    @include progress-bar-inner(hx-action, $action-col);
    @include progress-bar-inner(hx-positive, $positive-col);
    @include progress-bar-inner(hx-negative, $negative-col);
    @include progress-bar-inner(hx-warning, $warning-col);
    @include progress-bar-inner(hx-info, $info-col);
    @include progress-bar-inner(hx-compliment, $compliment-col);
    @include progress-bar-inner(hx-contrast, $contrast-col);
  }
}