// for apps that should use the full width of the screen (the default is to centre the content)
body.hx-full-width {
  .hx-titlebar-container {
    max-width: 100%;
  }
}

// for apps that should be fixed to the size of the screen
body.hx-full-screen {
  .hx-titlebar-container {
    max-width: 100%;
  }
}

// to fix the titlebar at the top of the screen (so it is always visible) when the content can be scrolled
body.hx-titlebar-fixed,
body.hx-heading-fixed,
body.hx-full-screen {
  &:before {
    content: ' ';
    display: block;
    height: 1px;
    margin-top: -1px;
  }

  > .hx-heading {
    position: fixed;
    top: 0;
    min-width: 100%;
    z-index: 100;
    // hack to prevent the header from jumping around on scroll
    // when css animations are used in the page (webkit issue)
    transform: translate3d(0, 0, 0);
  }
}

.hx-heading {
  border-bottom: 1px solid transparent;
  display: flex;
  flex-direction: column;
}

.hx-titlebar {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  transition: background 0.5s;

  .hx-titlebar-icon {
    transition: background 0.1s;
  }
}

.hx-titlebar-container {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: center;
  max-width: 1216px;
}

.hx-titlebar-contents {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-width: 1216px;
}

.hx-titlebar-header {
  align-items: center;
  display: flex;
  flex-grow: 1;
  padding-left: 8px;
  padding-right: 8px;
  flex-shrink: 0;

  a {
    flex-shrink: 0;
  }
}

.hx-titlebar-title {
  align-self: baseline;
  display: inline-block;
  flex-shrink: 0;
  padding-left: 0.3em;
  padding-right: 0.3em;
  position: relative;
}

.hx-titlebar-subtitle {
  align-self: baseline;
  display: inline-block;
  flex-grow: 1;
  position: relative;
  white-space: nowrap;
}

.hx-titlebar-menu-text {
  display: none;
  margin-left: 0.4em * 1.7;
}

.hx-titlebar-menu-content {
  display: inherit;
  //padding: 5px;
}

.hx-titlebar-menu-icons-container {
  display: inherit;
  margin-right: 0.25em * 1.7;
}

.hx-titlebar-menu-icons {
  align-items: center;
  display: flex;
  overflow: hidden;
}

.hx-titlebar-menu-icon {
  font-size: 0.65em * 1.7;
  font-weight: normal;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.hx-titlebar-icon {
  height: 46px;
  padding-left: 0.4em;
  padding-right: 0.4em;

  img {
    position: relative;
  }
}

.hx-titlebar-menu-icon-mobile {
  align-items: middle;
  display: none;
  margin-right: 0.3em;
  opacity: 0.4;
  position: relative;

  &:hover {
    cursor: pointer;
    opacity: 0.75;
  }
}

.hx-titlebar-linkbar {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.hx-titlebar-link {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: 1em;
  justify-content: center;
  max-width: 250px;
  min-height: 40px;
  padding-bottom: 3px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 3px;

  &:hover,
  &.hx-selected {
    border-bottom: 2px solid transparent;
    padding-bottom: 1px;
  }
}

a.hx-titlebar-link, a.hx-titlebar-link:hover {
  text-decoration: none;
}

@media (max-width: 1300px) {
  .hx-titlebar-container,
  .hx-titlebar-contents {
    max-width: 900px;
  }
}

@media (min-width: 901px) {
  .hx-titlebar-menu-icon {
    width: 14px;
    line-height: 46px;
    height: 46px;
    border-left-style: solid;
    border-left-width: 1px;

    &:last-child {
      border-right-style: solid;
      border-right-width: 1px;

      &:hover {
        span.hx-titlebar-menu-text {
          margin-left: 28px;
          transform: translateX(-100%);

          &:before {
            left: auto;
            right: 16px;
          }
        }
      }
    }

    i {
      margin: 0 -1em;
    }

    &:hover {
      span.hx-titlebar-menu-text {
        border-radius: 2px;
        display: block;
        font-size: 0.8em;
        font-weight: 400;
        margin-left: 7px;
        margin-top: 8px;
        padding: 3px 6px;
        position: absolute;
        text-align: center;
        transform: translateX(-50%);
        white-space: nowrap;
        line-height: 20px;
        height: 20px;

        &:before {
          border: solid transparent;
          border-color: rgba(136, 183, 213, 0);
          border-width: 5px;
          bottom: 100%;
          content: ' ';
          height: 0;
          left: 50%;
          margin-left: -5px;
          pointer-events: none;
          position: absolute;
          width: 0;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .hx-titlebar-menu-icons-container {
    position: relative;
  }

  .hx-titlebar-contents {
    flex-direction: column;
  }

  .hx-titlebar-menu-text {
    display: inline;
  }

  .hx-titlebar-menu-icons {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .hx-titlebar-menu-icon {
    margin: 0;
    padding: 10px;
  }

  .hx-titlebar-menu-icon-mobile {
    display: flex;
    margin: -0.4em -0.2em -0.4em -0.4em;
    padding: 0.4em;
  }

  .hx-titlebar-mobile-hide {
    display: none;
  }

  .hx-titlebar-link {
    width: 350px;
  }
}

@media (max-width: 450px) {
  .hx-titlebar-menu-icons-container {
    flex-direction: column;
  }
}

@media (max-width: 350px) {
  .hx-titlebar-subtitle {
    display: none;
  }

  .hx-titlebar-title {
    flex-grow: 1;
  }
}