body.hx-heading-fixed,
body.hx-full-screen {
  .hx-heading + .hx-content {
    margin-top: $titlebar-height;
  }
}

//this gets automatically added by the javascript component (if needed)
body.hx-titlebar-link-padding {
  .hx-heading + .hx-content {
    margin-top: $titlebar-height + $linkbar-height;
  }
}

.hx-heading {
  border-bottom-width: $heading-border-bottom-width;
  border-bottom-color: $heading-border-bottom-col;
  box-shadow: 0 6px 10px 0 $heading-shadow-col;
}

.hx-titlebar {
  background: $default-background-col;
  color: $titlebar-text-col;
  font-weight: $font-weight;
}

.hx-titlebar-header {
  max-height: $titlebar-height;
  min-height: $titlebar-height;
}

.hx-titlebar-title {
  font-family: $title-font-family;
  font-size: $title-font-size;
  line-height: $titlebar-height;

  a {
    color: $titlebar-text-col;
  }
}

.hx-titlebar-subtitle {
  font-family: $title-font-family;
  font-size: $title-font-size * 0.75;

  a {
    color: $titlebar-text-col;
  }
}

.hx-titlebar-menu-icon,
.hx-titlebar-menu-content {
  color: $titlebar-icon-col;
}

.hx-titlebar-menu-icon {
  &:hover {
    color: $titlebar-icon-hover-col;
  }
}

.hx-titlebar-icon {
  background: $icon-background-col;

  img {
    max-height: $titlebar-height;
  }
}

.hx-titlebar-menu-icon-mobile {
  font-size: $title-font-size;
}

.hx-titlebar-linkbar {
  background: $linkbar-background-col;
}

.hx-titlebar-link {
  color: $link-text-col;

  &:hover {
    border-bottom-color: $link-border-hover-col;
    color: $link-text-hover-col;
  }

  &.hx-selected {
    border-bottom-color: $link-border-selected-col;
  }
}

@media (min-width: 901px) {
  .hx-titlebar-menu-content {
    color: $titlebar-menu-context-text-col;
  }

  .hx-titlebar-menu-icon {
    border-color: $titlebar-menu-context-border-col;

    &:hover {
      span.hx-titlebar-menu-text {
        background: $icon-tooltip-background-col;
        color: $icon-tooltip-text-col;

        &:before {
          border-bottom-color: $icon-tooltip-background-col;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  body.hx-titlebar-link-padding {
    .hx-heading + .hx-content {
      margin-top: $titlebar-height;
    }
  }

  .hx-titlebar-menu-icons {
    background: $mobile-view-icons-background-col;

    .hx-titlebar-menu-icon {
      color: $mobile-view-icons-text-col;

      &:hover {
        color: $mobile-view-icons-text-hover-col;
      }
    }
  }
}

.hx-titlebar {
  &.hx-action {
    background: $action-background-col;
  }

  &.hx-negative {
    background: $negative-background-col;
  }

  &.hx-positive {
    background: $positive-background-col;
  }

  &.hx-warning {
    background: $warning-background-col;
  }

  &.hx-info {
    background: $info-background-col;
  }

  &.hx-action,
  &.hx-negative,
  &.hx-positive,
  &.hx-warning,
  &.hx-info {
    color: $context-text-col;

    .hx-titlebar-icon {
      background: $context-icon-background;
    }
  }
}