.hx-table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.9em;
  line-height: 2em;
  overflow: auto;

  thead tr {
    th {
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }

    &:last-child {
      th {
        border-bottom-width: 2px;
      }
    }
  }

  th, td {
    &:not(:last-child) {
      border-right-width: 1px;
      border-right-style: solid;
    }
  }

  tbody th:first-child {
    border-right-width: 2px;
    border-right-style: solid;
  }

  th, td {
    &.hx-table-head-no-border {
      border-color: transparent;
    }
  }

  p {
    margin: 0;
  }

  th,
  td {
    padding: 0.3em 0.75em;
  }

  th {
    font-weight: 400;
    text-align: center;

    &:not(.hx-table-header-allow-wrap) {
      white-space: nowrap;
    }
  }

  // Additional classes
  &.hx-table-full {
    min-width: 100%;
  }

  &.hx-table-centered {
    margin: 0 auto;
  }
}