@function getTextColFromBG($col) {
  @if lightness($col) > 60 {
    @return $dark-text-col;
  }

  @else {
    @return $light-text-col;
  }
}

.hx-axis-line {
  stroke: $axis-line-col;
}

.hx-tick-line {
  stroke: $tick-line-col;
}

.hx-axis {
  text {
    font-size: $tick-text-size;
    fill: $tick-text-col;
  }
}

.hx-legend-box {
  fill: $label-background-col;
  stroke: $label-border-col;
}

.hx-legend-entry text {
  fill: $label-key-text-col;
}

.hx-axis-title {
  fill: $axis-title-text-col;
}

.hx-vertical-grid-line, .hx-horizontal-grid-line {
  stroke: $grid-line-col;
}

.hx-pie-segment-text {
  fill: $pie-segment-text-col;
  font-size: 15px;
  font-weight: bold;
}

.hx-plot-text-warm {
  color: $warm-col;
}

.hx-plot-text-ambient {
  color: $ambient-col;
}

.hx-plot-text-cold {
  color: $cold-col;
}

.hx-plot-text-positive {
  color: $positive-col;
}

.hx-plot-text-warning {
  color: $warning-col;
}

.hx-plot-text-negative {
  color: $negative-col;
}

.hx-plot-background-warm {
  background: $warm-col;
  color: getTextColFromBG($warm-col);
}

.hx-plot-background-ambient {
  background: $ambient-col;
  color: getTextColFromBG($ambient-col);
}

.hx-plot-background-cold {
  background: $cold-col;
  color: getTextColFromBG($cold-col);
}

.hx-plot-background-positive {
  background: $positive-col;
  color: getTextColFromBG($positive-col);
}

.hx-plot-background-warning {
  background: $warning-col;
  color: getTextColFromBG($warning-col);
}

.hx-plot-background-negative {
  background: $negative-col;
  color: getTextColFromBG($negative-col);
}

// XXXL theme variables
.hx-plot-label-details {
  background: $label-background-col;
  box-shadow: $label-box-shadow;
  color: getTextColFromBG($label-background-col);
}

.hx-plot-label-details-basic {
  background: $label-background-col;
  box-shadow: $label-box-shadow;
  color: getTextColFromBG($label-background-col);
}

.hx-plot-label-details-header {
  background: $label-header-background-col;
  border-color: $label-header-border-col;
  color: getTextColFromBG($label-header-background-col);
}

.hx-plot-label-marker {
  border-color: $label-background-col;
  box-shadow: $label-box-shadow;
}
