/*XXX: this should all go into a quantum theme for hexagon */

body {
  background: #f9f9f9;
}

* {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.qm-docs-header {
  /*background: #00ADA8 !important;*/
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.21) !important;
}

.qm-docs-sidebar {
  background: #00ADA8 !important;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1)  !important;
}

.qm-docs-navigation-menu-section-title {
  color: rgba(255, 255, 255, 0.4) !important;
}

.qm-docs-navigation-menu-page {
  display: block !important;
  color: white !important;
  text-decoration: none;
}

.qm-docs-navigation-menu-page:hover {
  text-decoration: underline;
}

.qm-docs-header-title {
  color: #3a3a3a !important;
}

.qm-changelog-head {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 30px !important;
  color: #565656;
}
