.hx-toggle {
  display: inline-block;

  > input[type="checkbox"] {
    display: inline-block;
    position: relative;
    margin: 2px;
    padding: 0;
    width: 26px;
    height: 16px;
    color: #555;
    line-height: 0;
    text-align: center;
    border: 1px solid #bbb;
    background: #E6E6E6;
    outline: 0;
    cursor: pointer;
    vertical-align: middle;
    -webkit-appearance: none;
    border-radius: 8px;

    &:before {
      float: none;
      content: ' ';
      position: absolute;
      display: block;
      left: 0;
      margin: 2px;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      border: none;
      background: #6f7476;
      transform: scale(1);
      transition: left .2s ease-in-out, margin-left .2s ease-in-out;
      opacity: 1;
    }

    &:checked {
      background: white;

      &:before {
        left: 50%;
        margin-left: 0;
      }
    }
  }
}