.hx-toggle {
  display: inline-block;

  > .hx-toggle-box {
    display: inline-block;
    position: relative;
    margin: 2px 8px;
    padding: 0;
    width: 20px;
    height: 10px;
    color: #555;
    line-height: 0;
    text-align: center;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 8px;
    border: none;

    &:before {
      float: none;
      content: ' ';
      position: absolute;
      display: block;
      left: -5px;
      top: -5px;
      margin: 3px;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      border: none;
      transform: scale(1);
      transition: left 0.2s ease-in-out, margin-left 0.2s ease-in-out, background 0.2s;
      opacity: 1;
    }

    &.hx-toggle-box-on {
      &:before {
        left: 50%;
        margin-left: 0;
      }
    }
  }

  &.hx-btn > .hx-toggle-box {
    margin-left: 0.5em;
    margin-right: 0;
  }
}