.hx-toggle {
  > .hx-toggle-box {
    background: $background-off-col;

    &:before {
      background: $toggle-off-col;
    }

    &.hx-toggle-box-on {
      background: $background-on-col;

      &:before {
        background: $toggle-on-col;
      }
    }
  }
}