.hx-toggle {
  > input[type="checkbox"] {
    background: $background-off-col;

    &:before {
      background: $toggle-off-col;
    }

    &:checked {
      background: $background-on-col;

      &:before {
        background: $toggle-on-col;
      }
    }
  }
}