.status-text {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -0.75em;
  font-size: 3em;
  margin-right: 0.2em;
  font-weight: 100;
  text-align: center;
  pointer-events: none;
  color: rgb(137, 137, 137);
}