/*XXX: this should all go into a quantum theme for hexagon*/

.qm-docs-header {
  background: #00ADA8 !important;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.21) !important;
}

.qm-docs-sidebar {
  background: #f9f9f9  !important;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1)  !important;
}

.qm-docs-navigation-menu-section-title {
  color: rgba(0, 0, 0, 0.39) !important;
}

.qm-docs-navigation-menu-page {
  display: block !important;
  color: rgba(80, 80, 80, 0.85) !important;
}

.qm-docs-header-title {
  color: white !important;
}
