p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

.docs-card, .codeblock {
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
  border: solid 1px #E6E4E4;
  margin: 0.5em;
  padding: 1em;
  border-radius: 2px;
}

.docs-module-section {
  border-bottom: solid 1px rgba(74, 83, 111, 0.15);
  padding-bottom: 0.25em;
}

.docs-section-content {
  padding-left: 1em;
  margin-left: 0.5em;
  border-left: solid 1px rgba(0, 0, 0, 0.05);
}

.docs-changelog .qm-changelog-wrapper:empty:after {
  content: 'There have been no changes to this module since version 0.9.0';
}

.docs-example-title-link,
.docs-module-changelog-link {
  font-size: 0.6em;
  padding: 0.5em 0;
  float: right;
}

.docs-examples .docs-example {
  margin-top: 1.5em;
}

.docs-example {
  border: solid 1px rgb(234, 230, 230);
}

.docs-example-body {
  margin: 0.5em;
}

.docs-example-code-container {
  padding: 1em;
}

.docs-example-code-body {}

.docs-example-code {}

.docs-example-code .docs-collapsible-toggle:hover {
  background: #D9D9D9;
}

.docs-example-code .docs-collapsible-toggle svg {
  margin-right: 0.5em;
}

.docs-collapsible {}

.docs-collapsible-heading {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: white;
}

.docs-collapsible-toggle {
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
}

.docs-collapsible-toggle svg {
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}

.docs-collapsible-open > .docs-collapsible-heading svg {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.docs-collapsible-head {
  padding: 0.5em;
  line-height: 1em;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 1em;
}

.docs-collapsible-content {
  display: none;
  background: #F7F7F7;
}

.docs-collapsible-open > .docs-collapsible-content {
  display: block;
}

.docs-menu-container {
  overflow: auto;
  max-width: 1080px;
  max-height: 90%;
  max-height: calc(90% - 46px);
  border: solid 1px #D8D8D8;
  border-top: none;
  background: white;
  max-width: 1080px;
  max-width: 1080px;
}

.docs-dropdown-module-link, .docs-dropdown-link {
  color: #3E3E3E;
}

.docs-dropdown-module-link {
  display: inline-block;
  width: 150px;
}

.docs-titlebar-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1em;
}

.docs-menu {
  background: rgba(255, 255, 255, 0.09);
  cursor: pointer;
  padding-right: 0.5em;
  margin-right: 0.5em;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.docs-search {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background: rgba(255, 255, 255, 0.21);
  border-radius: 2px;
  border: solid 1px rgba(255, 255, 255, 0.07);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0;
  color: white;
  height: 30px;
  transition: background 0.2s, color 0.2s;
}

.docs-search.docs-search-active {
  background: white;
  color: #3D3D3D;
}

.docs-search.docs-search-active .docs-search-box {
  color: #3D3D3D;
  font-weight: bold;
}

.docs-search-icon {
  opacity: 0.9;
  font-size: 18px;
  margin-right: 0.25em;
  margin-left: 0.5em;
  position: relative;
  top: -1px;
  transition: opacity 0.2s;
}

.docs-search-box {
  width: 20em;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0;
  background: none;
  border: none;
  color: white;
  transition: color 0.2s;
}

.docs-search-box::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 1);
}

.docs-search-box:-moz-placeholder {
  color: rgba(255, 255, 255, 1);
}

.docs-search-box::-moz-placeholder {
  color: rgba(255, 255, 255, 1);
}

.docs-search-box:-ms-input-placeholder {
  color: rgba(255, 255, 255, 1);
}

.docs-contents .hx-collapsible-content {
  position: relative;
  z-index: 50;
  max-height: 80vh;
  max-height: calc(100vh - 96px);
  overflow: auto;
  border-bottom: solid 1px #E6E6E6;
}

.docs-titlebar-title {
  font-size: 24px;
  font-family: 'Roboto Slab';
}

.docs-titlebar-subtitle {
  font-size: 20px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-family: 'Roboto Slab';
}

.docs-dropdown-link {
  padding: 0.25em;
  display: block;
}

.docs-dropdown-module-link {
  display: inline-block;
  margin: 0;
  padding: 0.25em;
  width: 150px;
}

/* logo roll in effect */

.docs-logo {
  width: 30px;
  -webkit-transform: translateX(-30px) rotate(-170deg);
  transform: translateX(-30px) rotate(-170deg);
  opacity: 0;
  cursor: pointer;
}

.docs-visible > .docs-logo {
  opacity: 0.75;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.docs-titlebar-logo {
  margin-right: 1em;
}

.docs-group-modules-container {
  -webkit-flex-basis: 10px;
  -ms-flex-preferred-size: 10px;
  flex-basis: 10px;
  border-left: solid 1px #EAEAEA;
}

.dx-titlebar {
  background: #00ADA8;
  height: 46px;
}

.docs-version {
  margin: 0 0 0 1em;
  display: none;
}

.docs-version.docs-visible {
  display: block;
}

.docs-version-button {
  background: rgb(53, 190, 186);
  cursor: pointer;
  border: none;
  color: white;
  padding: 9px 10px;
  border-radius: 2px;
  font-weight: bold;
  line-height: 1em;
}

.docs-menu-search-results {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.docs-search-result {
  border-bottom: solid 1px #F3F3F3;
  cursor: pointer;
  padding: 0.5em;
  display: block;
  color: inherit;
  text-decoration: none;
}

.docs-search-result.docs-search-result-highlight,
.docs-search-result:hover {
  background: whitesmoke;
  text-decoration: none;
}

.docs-search-result-text {
  padding: 0.5em;
  text-transform: capitalize;
}

.docs-search-active {
  background: white;
  color: #3D3D3D;
}

.docs-search-active .docs-search-icon {
  opacity: 0.25;
}

/* quantum overrides. XXX: do this properly without the importants */

a.qm-changelog-link {
  font-family: 'Roboto Slab' !important;
  font-size: 32px !important;
  color: #545454 !important;
}

.docs-list-bullet {
  font-size: 0.4em;
  margin: 1em;
  width: 1em;
  left: -3em;
  color: #676767;
}

.docs-list > li {
  margin: 0.5em;
}

.docs-footer {
  text-align: center;
  padding: 1em;
  background: #373D45;
  color: white;
}

.docs-footer-note {
  margin: 0 1em;
}

.docs-footer-note a {
  color: rgb(100, 200, 197);
}