.hx-section {
  flex-shrink: 1;
}

/* Move to the hexagon theme */
h1, h2, h3, h4, h5, h6, .dx-header {
  color: #545454;
  font-weight: 400;
}

/* XXX: move to hexagon */
h3, h4 {
  margin-bottom: 0.5em !important;
  margin-top: 1em !important;
  font-weight: bold;
}

a {
  color: #18908C;
}