.hx-label {
  display: inline-block;
  font-size: 0.8em;
  min-width: 1em;
  line-height: 1em;
  border-radius: 0.2em;
  padding: 0.4em;
  text-align: center;
  white-space: nowrap;
  vertical-align: 0px;
  border: 1px solid transparent;
  margin: -1px 2px -1px 0;
}

.hx-label:empty {
  display: none;
}

.hx-label i {
  font-size: 0.8em;
}

.hx-table .hx-label {
  font-size: 0.9em;
}
