@function getTextColFromBG($col) {
  @if lightness($col) > 60 {
    @return $dark-text-col;
  }

  @else {
    @return $light-text-col;
  }
}

.hx-date-picker {
  background: $input-background-col;
  border-color: $border-col;

  .hx-icon:not(.hx-date-to-icon) {
    background: $icon-background-col;
    color: $icon-col;
  }
}

.hx-date-input {
  &.hx-date-error {
    background: $error-background-col;
    outline-color: $error-outline-col;
  }
}

.hx-date-picker-calendar {
  .hx-calendar-header {
    color: $header-text-col;

    .hx-calendar-back,
    .hx-calendar-forward {
      color: $navigation-icon-col;

      &:hover {
        color: $navigation-icon-hover-col;
      }
    }
  }

  .hx-grid-row {
    &.hx-grid-row-heading {
      border-color: $divider-col;
    }
  }

  .hx-grid {
    .hx-grid-text {
      border-radius: $day-border-radius;
    }

    &:hover {
      .hx-grid-text {
        background: $day-hover-background-col;
        color: getTextColFromBG($day-hover-background-col);
      }
    }

    &.hx-grid-today {
      .hx-grid-text {
        background: $today-background-col;
        color: getTextColFromBG($today-background-col);
      }
    }

    &.hx-grid-selected {
      .hx-grid-text {
        background: $selected-background-col;
        color: getTextColFromBG($selected-background-col);
      }
    }

    &.hx-grid-selected-range,
    &.hx-grid-selected {
      .hx-grid-range-bg {
        background: $range-background-col;
      }
    }

    &.hx-grid-out-of-range {
      color: $out-of-range-col;

      &:hover {
        .hx-grid-text {
          color: $out-of-range-col;
        }
      }
    }
  }
}