.hx-content {
  padding-left: var(--layout-content-padding);
  padding-right: var(--layout-content-padding);
  max-width: var(--layout-content-max-width);
  background: var(--layout-content-background-color);
}

/* content breakpoint */
@media (max-width: 1300px) {
  .hx-content {
    max-width: var(--layout-content-breakpoint-width);
  }
}

.hx-heading + .hx-content {
  padding-top: var(--layout-content-padding);
}

.hx-layout {
  margin:  var(--layout-margin);
}

.hx-group > .hx-section {
  margin:  var(--layout-margin);
}

.hx-group > .hx-section.hx-btn {
  margin:  var(--layout-margin);
}

/* named size classes */
.hx-small,
.hx-medium,
.hx-large {
  min-width: var(--layout-named-class-min-width);
}

.hx-small {
  /* fallback to static percentage in case calc is not supported */
  flex-basis: 21%;
  flex-basis: calc(25% - (2 * var(--layout-margin)));
}

.hx-medium {
  /* fallback to static percentage in case calc is not supported */
  flex-basis: 40%;
  flex-basis: calc(50% - (2 * var(--layout-margin)));
}

.hx-large {
  /* fallback to static percentage in case calc is not supported */
  flex-basis: 90%;
  flex-basis: calc(100% - (2 * var(--layout-margin)));
}

.hx-border {
  border: solid 1px var(--layout-border-color);
}

.hx-pad {
  padding: var(--layout-margin) !important;
}

.hx-flag-spacing .hx-pad, .hx-pad.hx-flag-spacing {
  padding: var(--layout-spacing) !important;
}

.hx-margin {
  margin: var(--layout-margin) !important;
}

.hx-flag-spacing .hx-margin, .hx-margin.hx-flag-spacing {
  margin: var(--layout-spacing) !important;
}

.hx-border-top {
  border-top: solid 1px var(--layout-border-color);
}

.hx-pad-top {
  padding-top: var(--layout-margin) !important;
}

.hx-flag-spacing .hx-pad-top, .hx-pad-top.hx-flag-spacing {
  padding-top: var(--layout-spacing) !important;
}

.hx-margin-top {
  margin-top: var(--layout-margin) !important;
}

.hx-flag-spacing .hx-margin-top, .hx-margin-top.hx-flag-spacing {
  margin-top: var(--layout-spacing) !important;
}

.hx-border-right {
  border-right: solid 1px var(--layout-border-color);
}

.hx-pad-right {
  padding-right: var(--layout-margin) !important;
}

.hx-flag-spacing .hx-pad-right, .hx-pad-right.hx-flag-spacing {
  padding-right: var(--layout-spacing) !important;
}

.hx-margin-right {
  margin-right: var(--layout-margin) !important;
}

.hx-flag-spacing .hx-margin-right, .hx-margin-right.hx-flag-spacing {
  margin-right: var(--layout-spacing) !important;
}

.hx-border-bottom {
  border-bottom: solid 1px var(--layout-border-color);
}

.hx-pad-bottom {
  padding-bottom: var(--layout-margin) !important;
}

.hx-flag-spacing .hx-pad-bottom, .hx-pad-bottom.hx-flag-spacing {
  padding-bottom: var(--layout-spacing) !important;
}

.hx-margin-bottom {
  margin-bottom: var(--layout-margin) !important;
}

.hx-flag-spacing .hx-margin-bottom, .hx-margin-bottom.hx-flag-spacing {
  margin-bottom: var(--layout-spacing) !important;
}

.hx-border-left {
  border-left: solid 1px var(--layout-border-color);
}

.hx-pad-left {
  padding-left: var(--layout-margin) !important;
}

.hx-flag-spacing .hx-pad-left, .hx-pad-left.hx-flag-spacing {
  padding-left: var(--layout-spacing) !important;
}

.hx-margin-left {
  margin-left: var(--layout-margin) !important;
}

.hx-flag-spacing .hx-margin-left, .hx-margin-left.hx-flag-spacing {
  margin-left: var(--layout-spacing) !important;
}

