.hx-notice {
  margin: 0.4em 0;

  // XXX 2.0.0 - hx-notice-header should be removed
  .hx-notice-head,
  .hx-notice-header {
    padding: 0.4em;
    font-weight: bold;
  }

  .hx-notice-body {
    padding: 0.4em;
  }
}