@function getTextColFromBG($col) {
  @if lightness($col) > 60 {
    @return $dark-text-col;
  }

  @else {
    @return $light-text-col;
  }
}

@mixin notice($class, $col, $bodyCol) {
  &#{if($class, "." + $class, "")} {
    // border: solid $col 1px;

    > .hx-notice-header {
      background: $col;
      color: getTextColFromBG($col);
    }

    > .hx-notice-body {
      background: $bodyCol;
      color: getTextColFromBG($bodyCol);
    }
  }
}

.hx-notice {
  box-shadow: 1px 1px 1px 1px $shadow-col;
  @include notice(false, $default-col, $default-body-col);
  @include notice(hx-action, $action-col, $action-body-col);
  @include notice(hx-positive, $positive-col, $positive-body-col);
  @include notice(hx-negative, $negative-col, $negative-body-col);
  @include notice(hx-warning, $warning-col, $warning-body-col);
  @include notice(hx-info, $info-col, $info-body-col);
  @include notice(hx-complement, $complement-col, $complement-body-col);
  @include notice(hx-contrast, $contrast-col, $contrast-body-col);
}