.hx-more-button:after {
  content: "\2219\2219\2219";
  letter-spacing: -4px;
  margin-left: -2px;
  vertical-align: 1px;
  font-family: monospace;
  font-size: 18px;
}

.hx-btn.hx-flag-button.hx-more-button {
  padding-left: 0;
  padding-right: 0;
}

.hx-btn.hx-flag-button.hx-more-button,
.hx-table .hx-btn.hx-flag-button.hx-more-button {
  font-size: 1rem;
}

.hx-table .hx-more-button:not(:hover) {
  border-color: transparent;
  background: transparent;
}

.hx-table .hx-btn.hx-flag-button.hx-more-button:hover {
  background: white;
}
