$hx-spinner-spinner-col: #00ADA8;

$hx-form-error-text-col: #F7F7F9;
$hx-form-error-background-col: #4A4E4E;

$hx-modal-shade-col: rgba(0,0,0,0.5);
$hx-modal-background-col: #FFFFFF;
$hx-modal-title-background-col: #FFFFFF;
$hx-modal-title-text-col: #3D3D3D;
$hx-modal-title-font-size: 1.17em;
$hx-modal-shadow-col: rgba(0, 0, 0, 0.5);
$hx-modal-border-radius: 3px;
$hx-modal-border-color: #D0D0D0;
$hx-modal-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

$hx-notify-background-col: #FFFFFF;
$hx-notify-text-col: #3D3D3D;
$hx-notify-border-col: #D0D0D0;
$hx-notify-close-col: #939393;
$hx-notify-close-hover-col: #3D3D3D;
$hx-notify-pinned-col: #00ADA8;
$hx-notify-pinned-hover-col: darken(desaturate($pinned-col, 5%), 10%);
$hx-notify-unpinned-col: #939393;
$hx-notify-unpinned-hover-col: #3D3D3D;
$hx-notify-default-col: #FFFFFF;
$hx-notify-info-col: #B36ABB;
$hx-notify-positive-col: #92BF17;
$hx-notify-warning-col: #D69B24;
$hx-notify-negative-col: #EC3A65;
$hx-notify-loading-col: #00ADA8;
$hx-notify-container-background-col: rgb(247, 247, 249);
$hx-notify-container-border-col: transparent;
$hx-notify-shadow-col: rgba(0, 0, 0, 0.05);

$hx-base-default-font-family: 'Open Sans', sans-serif;
$hx-base-heading-font-family: 'Open Sans', sans-serif;
$hx-base-body-background-col: rgb(247, 247, 249);
$hx-base-default-text-col: #3D3D3D;
$hx-base-heading-text-col: #3D3D3D;
$hx-base-input-background-col: white;
$hx-base-input-border-col: #DADADA;
$hx-base-input-text-col: #3D3D3D;
$hx-base-input-focus-border-col: #00ADA8;
$hx-base-input-invalid-border-col: #DE1A4A;
$hx-base-input-border-radius: 2px;
$hx-base-select-background-col: #FAFAFA;
$hx-base-select-border-col: #D8D8D8;
$hx-base-select-text-col: #3D3D3D;
$hx-base-select-focus-border-col: #B5B5B5;
$hx-base-text-select-col: #B4B1B5;
$hx-base-link-col: #00ADA8;
$hx-base-divider-col: #D0D0D0;
$hx-base-divider-style: solid;
$hx-base-default-font-size: 14px;

$hx-button-default-col: #FFFFFF;
$hx-button-action-col: #00ADA8;
$hx-button-positive-col: #92BF17;
$hx-button-warning-col: #D69B24;
$hx-button-negative-col: #EC3A65;
$hx-button-info-col: #B36ABB;
$hx-button-complement-col: #F7F7F9;
$hx-button-contrast-col: #4A4E4E;
$hx-button-disabled-col: #FAFAFA;
$hx-button-disabled-text-col: #939393;
$hx-button-invert-col: #FDFDFD;
$hx-button-invert-text-col: gray;
$hx-button-invert-hover-col: #F2F2F2;
$hx-button-invisible-text-col: #575757;
$hx-button-light-text-col: #F3F3F3;
$hx-button-dark-text-col: #3D3D3D;
$hx-button-default-border-col: darken($default-col, 10%);
$hx-button-action-border-col: darken($action-col, 10%);
$hx-button-positive-border-col: darken($positive-col, 10%);
$hx-button-warning-border-col: darken($warning-col, 10%);
$hx-button-negative-border-col: darken($negative-col, 10%);
$hx-button-info-border-col: darken($info-col, 10%);
$hx-button-complement-border-col: darken($complement-col, 10%);
$hx-button-contrast-border-col: darken($contrast-col, 10%);
$hx-button-invert-border-col: darken(#FDFDFD, 10%);
$hx-button-normal-font-size: 1em;
$hx-button-normal-height: 40px;
$hx-button-normal-line-height: 38px;
$hx-button-normal-padding: 0 20px;
$hx-button-small-font-size: 0.9em;
$hx-button-small-height: 30px;
$hx-button-small-line-height: 28px;
$hx-button-small-padding: 0 20px;
$hx-button-micro-font-size: 0.9em;
$hx-button-micro-height: 20px;
$hx-button-micro-line-height: 18px;
$hx-button-micro-padding: 0 20px;
$hx-button-font-weight: normal;
$hx-button-border-radius: 0.15em;
$hx-button-default-font-weight: bold;
$hx-button-default-text-color: #3D3D3D;
$hx-button-default-text-hover-color: #3D3D3D;
$hx-button-default-background-color: #FFFFFF;
$hx-button-default-background-hover-color: darken($default-col, 10%);
$hx-button-default-border-color: #3D3D3D;
$hx-button-default-border-hover-color: #3D3D3D;
$hx-button-primary-font-weight: bold;
$hx-button-primary-text-color: #F3F3F3;
$hx-button-primary-text-hover-color: #F3F3F3;
$hx-button-primary-background-color: #00ADA8;
$hx-button-primary-background-hover-color: darken($action-col, 10%);
$hx-button-primary-border-color: #00ADA8;
$hx-button-primary-border-hover-color: darken($action-col, 10%);
$hx-button-secondary-font-weight: bold;
$hx-button-secondary-text-color: #F3F3F3;
$hx-button-secondary-text-hover-color: #F3F3F3;
$hx-button-secondary-background-color: #3D3D3D;
$hx-button-secondary-background-hover-color: darken($dark-text-col, 10%);
$hx-button-secondary-border-color: #3D3D3D;
$hx-button-secondary-border-hover-color: darken($dark-text-col, 10%);
$hx-button-success-font-weight: bold;
$hx-button-success-text-color: #F3F3F3;
$hx-button-success-text-hover-color: #F3F3F3;
$hx-button-success-background-color: #92BF17;
$hx-button-success-background-hover-color: darken($positive-col, 10%);
$hx-button-success-border-color: #92BF17;
$hx-button-success-border-hover-color: darken($positive-col, 10%);
$hx-button-danger-font-weight: bold;
$hx-button-danger-text-color: #F3F3F3;
$hx-button-danger-text-hover-color: #F3F3F3;
$hx-button-danger-background-color: #EC3A65;
$hx-button-danger-background-hover-color: darken($negative-col, 10%);
$hx-button-danger-border-color: #EC3A65;
$hx-button-danger-border-hover-color: darken($negative-col, 10%);
$hx-button-link-font-weight: normal;
$hx-button-link-text-color: #00ADA8;
$hx-button-link-text-hover-color: #00ADA8;
$hx-button-disabled-font-weight: bold;
$hx-button-disabled-text-color: #939393;
$hx-button-disabled-background-color: #FAFAFA;
$hx-button-disabled-border-color: #FAFAFA;
$hx-button-disabled-border-hover-color: #FAFAFA;
$hx-button-link-background-color: transparent;
$hx-button-link-background-hover-color: transparent;
$hx-button-link-border-color: transparent;
$hx-button-link-border-hover-color: transparent;

$hx-dropdown-spacing: 0;
$hx-dropdown-background-col: #FFFFFF;
$hx-dropdown-shadow-col: rgba(0, 0, 0, 0.05);
$hx-dropdown-border-col: #E7E7E7;

$hx-collapsible-heading-background-col: #FAFAFA;
$hx-collapsible-heading-text-col: #3D3D3D;
$hx-collapsible-toggle-background-col: #FFFFFF;
$hx-collapsible-toggle-text-col: #3D3D3D;
$hx-collapsible-toggle-hover-background-col: #00ADA8;
$hx-collapsible-toggle-hover-text-col: white;
$hx-collapsible-content-border-col: '';
$hx-collapsible-content-background-col: #FFFFFF;
$hx-collapsible-content-text-col: #3D3D3D;
$hx-collapsible-shadow-col: rgba(0, 0, 0, 0.05);

$hx-palette-default-col: #FFFFFF;
$hx-palette-action-col: #00ADA8;
$hx-palette-positive-col: #92BF17;
$hx-palette-warning-col: #D69B24;
$hx-palette-negative-col: #EC3A65;
$hx-palette-info-col: #B36ABB;
$hx-palette-complement-col: #F7F7F9;
$hx-palette-contrast-col: #4A4E4E;
$hx-palette-light-text-col: #F3F3F3;
$hx-palette-dark-text-col: #3D3D3D;
$hx-palette-disabled-col: #FAFAFA;
$hx-palette-disabled-text-col: #939393;

$hx-input-group-input-background-col: white;
$hx-input-group-input-border-col: #DADADA;
$hx-input-group-input-invalid-outline-col: #DE1A4A;
$hx-input-group-input-focus-border-col: #00ADA8;
$hx-input-group-div-background-col: #FDFDFD;
$hx-input-group-div-border-col: #DADADA;
$hx-input-group-icon-background-col: #F9F9F9;
$hx-input-group-icon-border-col: #DADADA;

$hx-menu-default-col: #FFFFFF;
$hx-menu-default-hover-col: #F9F9F9;
$hx-menu-action-col: #00ADA8;
$hx-menu-positive-col: #92BF17;
$hx-menu-warning-col: #D69B24;
$hx-menu-negative-col: #EC3A65;
$hx-menu-info-col: #B36ABB;
$hx-menu-complement-col: #F7F7F9;
$hx-menu-contrast-col: #4A4E4E;
$hx-menu-disabled-col: #FAFAFA;
$hx-menu-disabled-text-col: #939393;
$hx-menu-light-text-col: #F3F3F3;
$hx-menu-dark-text-col: #3D3D3D;
$hx-menu-default-text-col: #3D3D3D;
$hx-menu-collapsible-background-col: #FDFDFD;
$hx-menu-collapsible-text-col: #3D3D3D;
$hx-menu-default-hover-border-col: transparent;
$hx-menu-default-border-col: transparent;
$hx-menu-border-width: 2px;

$hx-date-picker-today-background-col: #FFFFFF;
$hx-date-picker-light-text-col: #F3F3F3;
$hx-date-picker-dark-text-col: #3D3D3D;
$hx-date-picker-day-hover-background-col: #00ADA8;
$hx-date-picker-range-background-col: #F9F9F9;
$hx-date-picker-selected-background-col: #00ADA8;
$hx-date-picker-error-background-col: #FCBFBF;
$hx-date-picker-error-outline-col: #DE1A4A;
$hx-date-picker-divider-col: #D0D0D0;
$hx-date-picker-header-text-col: #3D3D3D;
$hx-date-picker-navigation-icon-col: #939393;
$hx-date-picker-navigation-icon-hover-col: #3D3D3D;
$hx-date-picker-input-background-col: white;
$hx-date-picker-day-border-radius: 2px;
$hx-date-picker-out-of-range-col: #939393;
$hx-date-picker-border-col: #DADADA;
$hx-date-picker-icon-col: white;
$hx-date-picker-icon-background-col: #00ADA8;

$hx-time-picker-error-background-col: #FCBFBF;
$hx-time-picker-error-outline-col: #DE1A4A;
$hx-time-picker-input-background-col: white;
$hx-time-picker-border-col: #DADADA;
$hx-time-picker-icon-col: white;
$hx-time-picker-icon-background-col: #00ADA8;

$hx-drag-container-drag-placeholder-border-col: #D0D0D0;

$hx-layout-content-max-width: 1200px;
$hx-layout-content-breakpoint: 1300px, 900px;
$hx-layout-content-padding: 1em;
$hx-layout-margin: 0.3em;
$hx-layout-spacing: 0.3em;
$hx-layout-named-class-min-width: 250px;
$hx-layout-border-col: #D0D0D0;
$hx-layout-content-background-col: transparent;

$hx-progress-bar-border-col: none;
$hx-progress-bar-border-width: 0;
$hx-progress-bar-default-col: #FFFFFF;
$hx-progress-bar-action-col: #00ADA8;
$hx-progress-bar-positive-col: #92BF17;
$hx-progress-bar-warning-col: #D69B24;
$hx-progress-bar-negative-col: #EC3A65;
$hx-progress-bar-info-col: #B36ABB;
$hx-progress-bar-complement-col: #F7F7F9;
$hx-progress-bar-contrast-col: #4A4E4E;
$hx-progress-bar-background-col: rgba(227,227,227,0.3);

$hx-plot-colors: rgb(177,119,190), rgb(90,155,212), rgb(241,90,113), rgb(151,195,102), rgb(250,169,91), rgb(226,212,64);
$hx-plot-warm-col: rgb(250,169,91);
$hx-plot-ambient-col: rgb(226,212,64);
$hx-plot-cold-col: rgb(90,155,212);
$hx-plot-positive-col: rgb(151,195,102);
$hx-plot-warning-col: rgb(226,212,64);
$hx-plot-negative-col: rgb(241,90,113);
$hx-plot-label-background-col: #FDFDFD;
$hx-plot-label-text-col: #3D3D3D;
$hx-plot-tick-text-col: #3D3D3D;
$hx-plot-tick-text-size: 10px;
$hx-plot-tick-line-col: #D0D0D0;
$hx-plot-axis-line-col: #D0D0D0;
$hx-plot-axis-title-text-col: #3D3D3D;
$hx-plot-label-key-text-col: #3D3D3D;
$hx-plot-label-border-col: #E7E7E7;
$hx-plot-grid-line-col: #E7E7E7;
$hx-plot-pie-segment-text-col: rgba(255, 255, 255, 0.8);
$hx-plot-label-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
$hx-plot-label-header-background-col: #FFFFFF;
$hx-plot-label-header-border-col: #D0D0D0;
$hx-plot-light-text-col: #F3F3F3;
$hx-plot-dark-text-col: #3D3D3D;

$hx-sticky-table-headers-scroll-indicator-shadow-color: rgba(0,0,0,0.5);

$hx-table-header-background-col: #FFFFFF;
$hx-table-header-text-col: #3D3D3D;
$hx-table-row-background-col: rgb(247, 247, 249);
$hx-table-row-hover-background-col: #E4E4E4;
$hx-table-row-alt-background-col: #F3F3F3;
$hx-table-row-text-col: #3D3D3D;
$hx-table-row-alt-text-col: #3D3D3D;
$hx-table-border-col: #E2E1E1;

$hx-toggle-background-off-col: #D5D5D5;;
$hx-toggle-background-on-col: #D5D5D5;;
$hx-toggle-toggle-off-col: #ABABAB;
$hx-toggle-toggle-on-col: #B2BA32;

$hx-date-time-picker-border-col: #DADADA;

$hx-tag-input-default-col: #FFFFFF;
$hx-tag-input-action-col: #00ADA8;
$hx-tag-input-positive-col: #92BF17;
$hx-tag-input-warning-col: #D69B24;
$hx-tag-input-negative-col: #EC3A65;
$hx-tag-input-info-col: #B36ABB;
$hx-tag-input-light-text-col: #F3F3F3;
$hx-tag-input-dark-text-col: #3D3D3D;
$hx-tag-input-complement-col: #F7F7F9;
$hx-tag-input-contrast-col: #4A4E4E;
$hx-tag-input-tag-container-background-col: #FDFDFD;
$hx-tag-input-disabled-col: #FAFAFA;
$hx-tag-input-disabled-text-col: #939393;
$hx-tag-input-border-col: #DADADA;
$hx-tag-input-tag-container-border-col: #E7E7E7;

$hx-titlebar-default-background-col: #F8F8F8;
$hx-titlebar-action-background-col: #00ADA8;
$hx-titlebar-positive-background-col: #92BF17;
$hx-titlebar-warning-background-col: #D69B24;
$hx-titlebar-negative-background-col: #EC3A65;
$hx-titlebar-info-background-col: #B36ABB;
$hx-titlebar-title-font-family: 'Open Sans', sans-serif;
$hx-titlebar-heading-shadow-col: rgba(0, 0, 0, 0.05);
$hx-titlebar-heading-border-bottom-col: #D0D0D0;
$hx-titlebar-heading-border-bottom-width: 0;
$hx-titlebar-titlebar-text-col: #3D3D3D;
$hx-titlebar-titlebar-icon-col: rgba(0, 0, 0, 0.3);
$hx-titlebar-titlebar-icon-hover-col: rgba(0, 0, 0, 0.6);
$hx-titlebar-linkbar-background-col: #FFFFFF;
$hx-titlebar-link-text-col: #3D3D3D;
$hx-titlebar-link-text-hover-col: #00ADA8;
$hx-titlebar-link-border-hover-col: #00ADA8;
$hx-titlebar-link-border-selected-col: #D0DDEE;
$hx-titlebar-mobile-view-icons-background-col: lighten($default-background-col, 5%);
$hx-titlebar-mobile-view-icons-text-col: #3D3D3D;
$hx-titlebar-mobile-view-icons-text-hover-col: #3D3D3D;
$hx-titlebar-title-font-size: 1.7em;
$hx-titlebar-titlebar-height: 46px;
$hx-titlebar-linkbar-height: 40px;
$hx-titlebar-titlebar-menu-context-text-col: white;
$hx-titlebar-icon-tooltip-background-col: #4A4E4E;
$hx-titlebar-icon-tooltip-text-col: #F7F7F9;
$hx-titlebar-font-weight: 100;
$hx-titlebar-icon-vertical-offset: 12px;
$hx-titlebar-icon-background-col: transparent;
$hx-titlebar-context-text-col: #F3F3F3;
$hx-titlebar-context-icon-background: #FFFFFF;
$hx-titlebar-titlebar-menu-context-border-col: transparent;
$hx-titlebar-title-text-col: #00ADA8;
$hx-titlebar-titlebar-context-icon-col: rgba(255, 255, 255, 0.5);
$hx-titlebar-titlebar-context-icon-hover-col: rgba(255, 255, 255, 0.85);
$hx-titlebar-complement-background-col: #F7F7F9;
$hx-titlebar-contrast-background-col: #4A4E4E;

$hx-slider-background-col: #FDFDFD;
$hx-slider-slider-background-col: #DADADA;
$hx-slider-range-background-col: #00ADA8;
$hx-slider-inner-border-radius: 20px;
$hx-slider-slider-border-radius: 20px;
$hx-slider-slider-left-border-radius: 20px 0 0 20px;
$hx-slider-slider-right-border-radius: 0 20px 20px 0;
$hx-slider-range-border-radius: 20px;
$hx-slider-marker-border-radius: 20px;
$hx-slider-text-col: #F7F7F9;
$hx-slider-range-height: 50%;
$hx-slider-value-background-col: #4A4E4E;
$hx-slider-value-border-radius: 5px;
$hx-slider-disabled-background-col: #BBBBBB;
$hx-slider-slider-marker-col: #E2E2E2;
$hx-slider-border-radius: 2px;
$hx-slider-disabled-col: #FAFAFA;
$hx-slider-shadow-col: transparent;

$hx-badge-default-color: #4A4E4E;
$hx-badge-success-color: #92BF17;
$hx-badge-warning-color: #D69B24;
$hx-badge-danger-color: #EC3A65;
$hx-badge-default-text-color: #F3F3F3;
$hx-badge-success-text-color: #F3F3F3;
$hx-badge-warning-text-color: #F3F3F3;
$hx-badge-danger-text-color: #F3F3F3;
$hx-badge-inverse-text-color: #3D3D3D;
$hx-badge-inverse-background-color: #F3F3F3;
$hx-badge-height: 18px;
$hx-badge-font-size: 12px;
$hx-badge-font-weight: 600;
$hx-badge-border-radius: 10px;
$hx-badge-border-width: 1px;
$hx-badge-border-style: solid;
$hx-badge-padding: 0 0.5em;

$hx-card-background-col: #FFFFFF;
$hx-card-border-col: #E7E7E7;
$hx-card-shadow-col: rgba(0, 0, 0, 0.05);
$hx-card-header-text-col: #3D3D3D;
$hx-card-header-background-col: #FAFAFA;
$hx-card-section-border-col: #E7E7E7;
$hx-card-text-col: #3D3D3D;
$hx-card-icon-col: #3D3D3D;
$hx-card-action-hover-background-col: #F3F3F3;
$hx-card-normal-padding: 14px;
$hx-card-small-padding: 7px;
$hx-card-context-text-col: white;

$hx-data-table-disabled-row-background-col: #FAFAFA;
$hx-data-table-disabled-row-text-col: #939393;
$hx-data-table-no-data-row-background-col: transparent;
$hx-data-table-no-data-row-text-col: #3D3D3D;
$hx-data-table-selected-row-background-col: rgb(149, 216, 243);
$hx-data-table-status-bar-background-col: #00ADA8;
$hx-data-table-status-bar-text-col: white;
$hx-data-table-row-collapsible-background-col: #FFFFFF;
$hx-data-table-row-collapsible-text-col: #3D3D3D;
$hx-data-table-compact-row-shadow-col: rgba(0, 0, 0, 0.05);
$hx-data-table-footer-shadow-col: rgba(0, 0, 0, 0.05);
$hx-data-table-compact-row-background-col: #FFFFFF;
$hx-data-table-compact-row-text-col: #3D3D3D;
$hx-data-table-compact-row-hover-background-col: #FAFAFA;
$hx-data-table-compact-row-hover-text-col: #3D3D3D;
$hx-data-table-loading-background-col: rgba(255, 255, 255, 0.4);
$hx-data-table-footer-background-col: #FFFFFF;

$hx-drawing-sidebar-border-col: #E7E7E7;
$hx-drawing-sidebar-title-background-col: #F9F9F9;
$hx-drawing-sidebar-title-text-col: #3D3D3D;
$hx-drawing-sidebar-background-col: transparent;
$hx-drawing-sidebar-text-col: #3D3D3D;

$hx-error-pages-background-col: #FFFFFF;
$hx-error-pages-padding: 32px;
$hx-error-pages-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
$hx-error-pages-border-radius: 2px;
$hx-error-pages-heading-text-col: #3D3D3D;
$hx-error-pages-heading-font-size: 2em;
$hx-error-pages-heading-font-weight: bold;
$hx-error-pages-heading-margin: 1em;
$hx-error-pages-body-font-size: 1em;
$hx-error-pages-body-margin: 1em;

$hx-label-default-col: #FFFFFF;
$hx-label-action-col: #00ADA8;
$hx-label-positive-col: #92BF17;
$hx-label-warning-col: #D69B24;
$hx-label-negative-col: #EC3A65;
$hx-label-info-col: #B36ABB;
$hx-label-complement-col: #F7F7F9;
$hx-label-contrast-col: #4A4E4E;
$hx-label-light-text-col: #F3F3F3;
$hx-label-dark-text-col: #3D3D3D;
$hx-label-invert-col: #FDFDFD;
$hx-label-disabled-col: #FAFAFA;
$hx-label-disabled-text-col: #939393;

$hx-notice-default-col: #FAFAFA;
$hx-notice-action-col: #00ADA8;
$hx-notice-positive-col: #92BF17;
$hx-notice-warning-col: #D69B24;
$hx-notice-negative-col: #EC3A65;
$hx-notice-info-col: #B36ABB;
$hx-notice-complement-col: #F7F7F9;
$hx-notice-contrast-col: #4A4E4E;
$hx-notice-default-body-col: #FFFFFF;
$hx-notice-action-body-col: #0BBDB8;
$hx-notice-positive-body-col: #9ECA26;
$hx-notice-warning-body-col: #E4AE41;
$hx-notice-negative-body-col: #EC426C;
$hx-notice-info-body-col: #B674BD;
$hx-notice-complement-body-col: #FFFFFF;
$hx-notice-contrast-body-col: #3E4444;
$hx-notice-light-text-col: #F3F3F3;
$hx-notice-dark-text-col: #3D3D3D;
$hx-notice-shadow-col: rgba(0, 0, 0, 0.05);

$hx-paginator-arrow-button: n-a;
$hx-paginator-default-button: hx-complement;
$hx-paginator-selected-button: hx-action;
$hx-paginator-button-border-color: #DADADA;
$hx-paginator-button-background-color: #FFFFFF;
$hx-paginator-button-text-color: #3D3D3D;
$hx-paginator-button-hover-background-color: #D0DDEE;
$hx-paginator-button-hover-text-color: #3D3D3D;
$hx-paginator-ellipsis-background-color:  transparent;;
$hx-paginator-ellipsis-border-color:  transparent;;
$hx-paginator-ellipsis-text-color: #3D3D3D;
$hx-paginator-selected-background-color: #00ADA8;
$hx-paginator-selected-text-color: #F3F3F3;
$hx-paginator-button-font-weight: normal;

$hx-side-collapsible-heading-background-col: #FAFAFA;
$hx-side-collapsible-heading-text-col: #3D3D3D;
$hx-side-collapsible-toggle-background-col: #FFFFFF;
$hx-side-collapsible-toggle-text-col: #3D3D3D;
$hx-side-collapsible-toggle-hover-background-col: #00ADA8;
$hx-side-collapsible-toggle-hover-text-col: white;
$hx-side-collapsible-content-border-col: '';
$hx-side-collapsible-content-background-col: #FFFFFF;
$hx-side-collapsible-shadow-col: rgba(0, 0, 0, 0.05);

$hx-sidebar-animation-duration: 0.15s;
$hx-sidebar-background-col: #FFFFFF;
$hx-sidebar-selected-background-col: #00ADA8;
$hx-sidebar-selected-text-col: #F3F3F3;
$hx-sidebar-title-font: 'Open Sans', sans-serif;
$hx-sidebar-title-background-col: #FAFAFA;
$hx-sidebar-title-text-col: #3D3D3D;
$hx-sidebar-titlebar-icon-background-col: #F8F8F8;
$hx-sidebar-section-text-col: #3D3D3D;
$hx-sidebar-section-hover-background-col: #1DBFBB;
$hx-sidebar-section-hover-text-col: #F3F3F3;
$hx-sidebar-collapsible-border-col: transparent;
$hx-sidebar-titlebar-button-background-col: #F8F8F8;
$hx-sidebar-titlebar-button-text-col: rgba(0, 0, 0, 0.3);
$hx-sidebar-titlebar-button-hover-text-col: rgba(0, 0, 0, 0.6);
$hx-sidebar-shadow-col: rgba(0, 0, 0, 0.05);

$hx-tabs-background-col: #FDFDFD;
$hx-tabs-border-col: #D8D8D8;
$hx-tabs-tab-background-col: #FDFDFD;
$hx-tabs-text-col: #3D3D3D;
$hx-tabs-tab-text-col: #3D3D3D;
$hx-tabs-tab-inactive-opacity: 0.25;
$hx-tabs-tab-active-opacity: 1;
$hx-tabs-default-col: #9F9F9F;
$hx-tabs-action-col: #00ADA8;
$hx-tabs-positive-col: #92BF17;
$hx-tabs-warning-col: #D69B24;
$hx-tabs-negative-col: #EC3A65;
$hx-tabs-info-col: #B36ABB;
$hx-tabs-complement-col: #F7F7F9;
$hx-tabs-contrast-col: #4A4E4E;
$hx-tabs-shadow-col: rgba(0, 0, 0, 0.05);
$hx-tabs-disabled-col: #FAFAFA;
$hx-tabs-light-text-col: #F3F3F3;
$hx-tabs-dark-text-col: #3D3D3D;
$hx-tabs-disabled-text-col: #939393;

$hx-tree-icon-background-col: #00ADA8;
$hx-tree-icon-background-hover-col: #1DBFBB;
$hx-tree-icon-text-col: white;
$hx-tree-icon-text-hover-col: white;
$hx-tree-item-border-left-col: #00ADA8;
$hx-tree-icon-disabled-background-col: #FAFAFA;
$hx-tree-icon-disabled-text-col: #F0F0F0;
$hx-tree-background-col: #FFFFFF;
$hx-tree-shadow-col: rgba(128, 128, 128, 0.17);
$hx-tree-icon-disabled-col: #FAFAFA;