.hx-input-group {
  display: inline-flex;
  margin-left: 0.25em;
  margin-right: 0.25em;

  &.hx-input-group-full-width {
    display: flex;
  }

  > {
    input, form > input {
      border-width: 1px;
      border-style: solid;

      &:invalid {
        border-style: dotted;

        &:focus {
          border-style: solid;
        }
      }
    }

    div, span, a {
      &:not(.hx-btn) {
        border-width: 1px;
        border-style: solid;
        padding: 0.4em;
        line-height: 1.3em;
      }
    }

    i {
      border-width: 1px;
      border-style: solid;
      padding: 0.4em;
    }

    form {
      padding: 0;

      > input {
        margin: 0;
        border-radius: 0;
      }

      &:first-child > input {
        border-top-left-radius: 0.15em;
        border-bottom-left-radius: 0.15em;
      }

      &:last-child > input {
        border-top-right-radius: 0.15em;
        border-bottom-right-radius: 0.15em;
      }
    }

    input,
    div,
    button,
    span,
    i,
    a,
    .hx-btn {
      margin: 0;
      border-radius: 0;

      &:first-child {
        border-top-left-radius: 0.15em;
        border-bottom-left-radius: 0.15em;
      }

      &:last-child {
        border-top-right-radius: 0.15em;
        border-bottom-right-radius: 0.15em;
      }
    }
  }
}