.hx-tree-node-parent,
.hx-tree-node-content {
  background: $background-col;
}

.hx-tree-node-parent {
  .hx-tree-node-parent-icon {
    background: $icon-background-col;
    color: $icon-text-col;

    &:hover {
      background: $icon-background-hover-col;
      color: $icon-text-hover-col;
    }

    &.hx-tree-node-parent-icon-disabled,
    &.hx-tree-node-parent-icon-disabled:hover {
      background: $icon-disabled-background-col;
      color: $icon-disabled-text-col;
    }
  }
}

.hx-tree-node-children {
  border-left: 1px solid $item-border-left-col;
}