.hx-card {
  border-color: $border-col;
  background: $background-col;
  box-shadow: 1px 1px 3px $shadow-col;

  > {
    .hx-card-group,
    .hx-card-section {
      &:not(.hx-card-joint) {
        border-color: $section-border-col;
      }
    }
  }
}

.hx-card-header {
  color: $header-text-col;
  background: $header-background-col;
}

.hx-card-text {
  color: $text-col;
}

@mixin cardSectionPad($padding) {
  &.hx-card-section {
    padding: $padding $normal-padding;

    &.hx-card-joint {
      padding-right: 0;
    }
  }

  .hx-card-section:not(.hx-card-small):not(.hx-card-normal) {
    padding: $padding $normal-padding;
  }
}

.hx-card-section {
  padding: $normal-padding;

  &.hx-card-joint {
    padding-right: 0;
  }
}

.hx-card-small {
  @include cardSectionPad($small-padding);
}

.hx-card-normal {
  @include cardSectionPad($normal-padding);
}

.hx-card-group {
  &.hx-card-vertical {
    > {
      .hx-card-group,
      .hx-card-section {
        &:not(.hx-card-joint) {
          border-color: $section-border-col;
        }
      }
    }
  }

  &:not(.hx-card-vertical) {
    > {
      .hx-card-group,
      .hx-card-section {
        &:not(.hx-card-joint) {
          border-color: $section-border-col;
        }
      }
    }
  }
}

.hx-card-action:hover {
  background: $action-hover-background-col;
}

.hx-card-icon {
  color: $icon-col;
}

// no real reason to have complement and contrast here
.hx-background-action .hx-card-title,
.hx-background-positive .hx-card-title,
.hx-background-warning .hx-card-title,
.hx-background-negative .hx-card-title,
.hx-background-info .hx-card-title {
  color: $context-text-col;
}

// no real reason to have complement and contrast here
.hx-background-action .hx-card-icon,
.hx-background-positive .hx-card-icon,
.hx-background-warning .hx-card-icon,
.hx-background-negative .hx-card-icon,
.hx-background-info .hx-card-icon {
  color: $context-text-col;
}