$shadow: rgba(0, 0, 0, 0.05);

.hx-dropdown {
  position: absolute;
  z-index: 99;
  box-shadow: $shadow 0px 3px 8px 3px;
  overflow: hidden;
  // here to stop the dropdown from forcing the scrollbar from being
  // shown in the instant it it is first created - which would offset
  // the position of the dropdown slightly
  top: -10000px;

  &:focus {
    outline: none;
  }
}