.hx-visualization-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: var(--visual-content-margin);
  height: auto;
}

.hx-visualization-bar-header {
  order: 1;
}

.hx-visualization-bar-count {
  order: 2;
}

.hx-visualization-bar-body {
  order: 3;
}

.hx-visualization-bar-content {
  order: 4;
}

.hx-visualization-bar .hx-hidden {
  display: none;
}

.hx-visualization-bar-header,
.hx-visualization-bar-body {
  width: 100%;
  display: flex;
}

.hx-visualization-bar-body {
  flex-direction: column;
}

.hx-visualization-bar .hx-header-small {
  margin-bottom: var(--visual-content-margin);
}

.hx-visualization-bar.disabled .hx-visualization-bar-title .hx-header-small {
  color: var(--visual-disabled-text-color);
}

.hx-visualization-bar.disabled .hx-visualization-bar-count {
  display: none;
}

.hx-visualization-bar.disabled .hx-visualization-bar-content {
  color: var(--visual-disabled-text-color);
}

.hx-visualization-bar-title,
.hx-visualization-bar-count {
  display: flex;
}

.hx-visualization-bar-title {
  width: 70%;
}

.hx-visualization-bar-count {
  width: 30%;
  flex-direction: row-reverse;
}

.hx-visualization-bar-fill-wrapper {
}

.hx-visualization-bar-fill {
  background-color: var(--visual-healthy-na-color);
  /* border-radius: var(--visual-border-radius); */
  height: var(--visual-fill-height);
}

.hx-visualization-bar.disabled .hx-visualization-bar-fill-wrapper {
  min-height: 100%;
}

.hx-visualization-bar-fill-wrapper,
.hx-visualization-bar-label-wrapper {
  min-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.hx-visualization-bar.hx-without-label .hx-visualization-bar-label-wrapper {
  display: none;
}

.hx-visualization-bar-fill {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  transition: background-color ease 0.25s;
  color: var(--visual-text-color);
  font-weight: bold;
  position: relative;
}

/* .hx-visualization-bar-fill:before {
  content: " ";
  width: 5px;
  height: 100%;
  background: var(--visual-text-color);
  position: absolute;
  left: -2.5px;
}
.hx-visualization-bar-progress-fill:before {
  display: none;
}

.hx-without-progress .hx-visualization-bar-buffer-fill:before {
  display: none;
}

.hx-without-progress.hx-without-buffer .hx-visualization-bar-balance-fill:before {
  display: none;
}

.hx-visualization-bar-p-wrapper.hx-no-border .hx-visualization-bar-fill:before {
  display: none;
} */

.hx-visualization-bar-fill.inversed-text-color {
  color: var(--visual-inversed-text-color);
}

.hx-visualization-bar-label {
  flex-direction: row;
  text-align: center;
  justify-content: center;
  padding: 0 var(--visual-base-inner-padding);
  font-size: var(--base-small-font-size);
  flex-wrap: wrap;
}

.hx-visualization-bar-label .hx-visualization-bar-label-text {
  padding: 0 var(--visual-base-inner-padding);
}

.hx-visualization-bar-p-wrapper.hx-first-child .hx-visualization-bar-fill {
  border-top-left-radius: var(--visual-border-radius);
  border-bottom-left-radius: var(--visual-border-radius);
}

.hx-visualization-bar-p-wrapper.hx-last-child .hx-visualization-bar-fill {
  border-top-right-radius: var(--visual-border-radius);
  border-bottom-right-radius: var(--visual-border-radius);
}

.hx-animate .hx-visualization-bar-p-wrapper {
  /* transition: width ease 0.25s; */
}

@media screen and (min-width: 700px) {
  .hx-visualization-bar-p-wrapper,
  .hx-visualization-bar-label {
    min-width: var(--visual-min-screen-width);
  }
}

.hx-visualization-bar.error .hx-visualization-bar-progress .hx-visualization-bar-fill {
  background-color: var(--visual-negative-color);
}

.hx-visualization-bar.error .hx-visualization-bar-buffer .hx-visualization-bar-fill {
  background-color: var(--visual-alert-color);
}

.hx-visualization-bar-progress .hx-visualization-bar-fill {
  background-color: var(--visual-positive-color);
  border-top-left-radius: var(--visual-border-radius);
  border-bottom-left-radius: var(--visual-border-radius);
}

.hx-visualization-bar-buffer .hx-visualization-bar-fill {
  background-color: var(--visual-buffer-color);
}
.hx-visualization-bar.disabled .hx-visualization-bar-fill-wrapper {
  border: 1px solid var(--visual-disabled-text-color);
  height: var(--visual-fill-height);
  border-radius: var(--visual-border-radius);
}

.hx-visualization-bar.disabled .hx-visualization-bar-fill-wrapper > div {
  display: none;
}

.hx-visualization-bar.disabled .hx-visualization-bar-body {
  margin-bottom: var(--visual-content-margin);
}

.hx-visualization-bar.disabled .hx-visualization-bar-progress .hx-visualization-bar-fill,
.hx-visualization-bar.disabled .hx-visualization-bar-buffer .hx-visualization-bar-fill,
.hx-visualization-bar.disabled .hx-visualization-bar-balance .hx-visualization-bar-fill {
  background-color: var(--visual-text-color);
}

.hx-without-balance.hx-without-buffer .hx-visualization-bar-progress .hx-visualization-bar-fill {
  border-top-right-radius: var(--visual-border-radius);
  border-bottom-right-radius: var(--visual-border-radius);
}

.hx-without-progress .hx-visualization-bar-buffer .hx-visualization-bar-fill {
  border-top-left-radius: var(--visual-border-radius);
  border-bottom-left-radius: var(--visual-border-radius);
}

.hx-without-balance .hx-visualization-bar-buffer .hx-visualization-bar-fill {
  border-top-right-radius: var(--visual-border-radius);
  border-bottom-right-radius: var(--visual-border-radius);
}

.hx-visualization-bar-balance .hx-visualization-bar-fill {
  background-color: var(--visual-healthy-na-color);
  border-top-right-radius: var(--visual-border-radius);
  border-bottom-right-radius: var(--visual-border-radius);
}

/** Small **/

.hx-visualization-bar.hx-small-bar .hx-visualization-bar-fill-wrapper {
  height: var(--visual-small-fill-height);
}

.hx-visualization-bar.hx-small-bar .hx-visualization-bar-label-wrapper {
  display: none;
}

.hx-visualization-bar.hx-small-bar .hx-header-small {
  margin-bottom: var(--visual-small-content-margin);
}

.hx-visualization-bar.hx-small-bar .hx-visualization-bar-title,
.hx-visualization-bar.hx-small-bar .hx-visualization-bar-count > div {
  font-size: var(--visual-small-font-size);
  font-weight: normal;
}

.hx-visualization-bar.hx-small-bar .hx-visualization-bar-fill:before {
  display: none;
}

.hx-visualization-bar.hx-small-bar .hx-visualization-bar-count {
  order: 3;
  height: var(--visual-small-fill-height);
  transform: translateY(-50%);
}

.hx-visualization-bar.hx-small-bar .hx-visualization-bar-header {
  width: 100%;
}

.hx-visualization-bar.hx-small-bar .hx-visualization-bar-count {
  order: 3;
  width: 10%;
  margin-bottom: var(--visual-small-content-margin);
}

.hx-visualization-bar.hx-small-bar .hx-visualization-bar-body {
  order: 2;
  width: 90%;
}

.hx-visualization-bar.hx-small-bar .hx-visualization-bar-fill {
  height: var(--visual-small-fill-height);
}

/** Overflow **/

.hx-visualization-bar-label-text-wrapper,
.hx-visualization-bar-label-percent {
  display: inline-flex;
  max-width: 100%;
}

.hx-visualization-bar-label-text {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hx-visualization-bar-label-percent {
  /* width: 20%; */
}

.hx-is-overflowed-percent .hx-visualization-bar-label-percent,
.hx-is-overflowed-percent .hx-visualization-bar-label-text {
  width: 100%;
  align-content: center;
}

.hx-is-overflowed-text .hx-visualization-bar-label-text {
  overflow: hidden;
}
