.hx-time-picker {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  padding: 0;
  vertical-align: middle;
  padding: 0;
  border: solid 1px transparent;

  .hx-icon {
    padding: 0.5em;
    border-radius: 2px 0 0 2px;
  }

  .hx-time-input-container {
    line-height: 2em;
  }
}

.hx-time-input {
  outline: none;
  border: none;
  border-radius: 0;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  width: 5em;
  line-height: 1.3em;
  background: none;
  text-align: center;
  -webkit-appearance: none;

  &.hx-short-time {
    width: 3.5em;
  }

  &:focus,
  &:active {
    border: none;
    outline: none;
    background: none;
  }
}