body.hx-modal-open {
  overflow-y: hidden;
}

body.hx-modal-open .hx-content {
  pointer-events: none;
}

.hx-modal-shade {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 104;
}

.hx-modal-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  pointer-events: auto;
  z-index: 105;
  text-align: center;
}

.hx-modal {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  max-width: 800px;
  min-width: 300px;
  position: relative;
  pointer-events: auto;
  display: inline-block;
  text-align: left;
}

.hx-modal-title-container {
  line-height: 1em;
  border-bottom: 1px solid transparent;
  display: flex;
}

.hx-modal-title {
  padding: 0.8em;
  position: relative;
  flex: 1 1 auto;
}

.hx-modal-title > i:first-child {
  margin-right: 0.4em;
}

.hx-modal-close {
  padding: 0.8em;
  line-height: 1em;
  cursor: pointer;
}

.hx-modal-content {
  padding: 1em;
  position: relative;
}

.hx-modal-message {
  padding: 0 0 0.5em 0;
  max-width: 500px;
}

.hx-modal-buttons {
  padding-top: 4px;
  text-align: right;
}

.hx-modal-title-empty {
  display: none;
}

@media (max-width: 900px) {
  .hx-modal {
    max-width: 90%;
  }
}




.hx-modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hx-modal.hx-flag-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  max-width: none;
  min-width: none;
  display: block;
  box-shadow: none;
  z-index: 105;
}

.hx-modal.hx-flag-modal.hx-modal-center {
  z-index: 106;
}

.hx-modal.hx-flag-modal .hx-modal-container {
  display: flex;
  position: static;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: transparent;
  box-shadow: none;
  text-align: left;
}

.hx-modal.hx-flag-modal .hx-modal-title {
  margin: 0;
  padding: 0;
}

.hx-modal.hx-flag-modal .hx-modal-footer {
  text-align: right;
}

.hx-modal.hx-flag-modal .hx-modal-content {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.hx-modal.hx-flag-modal .hx-modal-body-container {
  flex: 1;
  overflow: auto;
}

.hx-modal.hx-flag-modal .hx-modal-body {
  overflow: auto;
}

.hx-modal.hx-flag-modal .hx-modal-header {
  display: flex;
  align-items: center;
}

.hx-modal.hx-flag-modal .hx-modal-title {
  flex: 1;
}

.hx-modal.hx-flag-modal .hx-modal-close {
  flex: 0;
  text-align: center;
}

.hx-modal.hx-flag-modal.hx-modal-full-screen .hx-modal-container,
.hx-modal.hx-flag-modal.hx-modal-right .hx-modal-container {
  align-items: stretch;
  justify-content: flex-end;
}

.hx-modal.hx-flag-modal.hx-modal-full-screen .hx-modal-content {
  max-width: 100%;
  border-radius: 0;
}

.hx-modal.hx-flag-modal .hx-modal-body-container {
  display: flex;
  flex-direction: column;
}

.hx-modal.hx-flag-modal.hx-modal-right .hx-modal-body-container {
  display: block;
}

.hx-modal.hx-flag-modal .hx-modal-body {
  flex: 1;
}

.hx-modal.hx-flag-modal.hx-modal-right .hx-modal-content {
  border-radius: 0;
}

.hx-modal.hx-flag-modal.hx-modal-center .hx-modal-content {
  max-height: 90vh;
}
