.hx-modal-shade {
  background: var(--modal-shade-color);
}

.hx-modal {
  box-shadow: 0 5px 10px var(--modal-shadow-color);
}

.hx-modal-title-container {
  font-size: var(--modal-title-font-size);
  background: var(--modal-title-background-color);
  border-radius: var(--modal-border-radius) var(--modal-border-radius) 0 0;
  color: var(--modal-title-text-color);
  border-color: var(--modal-border-color);
}

.hx-modal-content {
  background: var(--modal-background-color);
  border-radius: 0 0 var(--modal-border-radius) var(--modal-border-radius);
}

.hx-modal-title-empty + .hx-modal-content {
  border-radius: var(--modal-border-radius);
}
