.hx-morph-section {
  display: inline-block;

  &.hx-morph-section-full {
    display: block;
  }

  > .hx-morph-toggle {
    margin: 0;
    width: 100%;
    display: block;
  }

  > .hx-morph-content {
    overflow: hidden;
  }
}