.hx-error-message {
  background: $background-col;
  padding: $padding;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.hx-error-message-heading {
  color: $heading-text-col;
  font-size: $heading-font-size;
  font-weight: $heading-font-weight;
  margin-bottom: $heading-margin;
}

.hx-error-message-heading + .hx-error-message-body,
.hx-error-message-heading + div {
  font-size: $body-font-size;
  margin-bottom: $body-margin;
}
