.hx-error-message {
  background: $background-col;
  padding: 32px;
  box-shadow: 2px 2px 2px 2px $shadow-col;
  border-radius: 2px;
}

.hx-error-message-heading {
  font-size: 2em;
  color: $heading-text-col;
}