html {
  font-size: var(--base-root-font-size);
}

body {
  font-size: var(--base-default-font-size);
}

body {
  font-family: var(--base-default-font-family);
  background: var(--base-body-background-color);
  color: var(--base-default-text-color);
}

button {
  font-family: var(--base-default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
.hx-header-large,
.hx-header-medium,
.hx-header-small,
.hx-header {
  font-family: var(--base-heading-font-family);
  color: var(--base-heading-text-color);
}



textarea,
input  {
  font-family: var(--base-default-font-family);
  font-size: var(--base-default-font-size);
  background-color: var(--base-input-background-color);
  border-color: var(--base-input-border-color);
  color: var(--base-input-text-color);
  border-radius: var(--base-input-border-radius);
}

textarea:focus,
input:focus {
  border-color: var(--base-input-focus-border-color);
}

textarea:invalid,
input:invalid {
  border-color: var(--base-input-invalid-border-color);
}

select {
  border-color: var(--base-select-border-color);
  background: var(--base-select-background-color);
  color: var(--base-select-text-color);
}

select:focus {
  border-color: var(--base-select-focus-border-color);
}

::selection {
  background: var(--base-text-select-color);
}

a {
  color: var(--base-link-color);
}

hr {
  border-color: var(--base-divider-color);
  border-style: var(--base-divider-style);
}

.hx-text-large {
  font-size: var(--base-large-font-size);
}

.hx-text-small {
  font-size: var(--base-small-font-size);
}

.hx-flag-typography h1,
.hx-flag-typography .hx-header-large,
h1.hx-flag-typography,
.hx-header-large.hx-flag-typography {
  font-size: var(--base-large-header-font-size);
  font-weight: var(--base-large-header-font-weight);
  line-height: var(--base-large-header-line-height);
  margin: 0 0 var(--base-header-bottom-margin) 0;
}

.hx-flag-typography h2,
.hx-flag-typography .hx-header-medium,
h2.hx-flag-typography,
.hx-header-medium.hx-flag-typography {
  font-size: var(--base-medium-header-font-size);
  font-weight: var(--base-medium-header-font-weight);
  line-height: var(--base-medium-header-line-height);
  margin: 0 0 var(--base-header-bottom-margin) 0;
}

.hx-flag-typography h3,
.hx-flag-typography .hx-header-small,
h3.hx-flag-typography,
.hx-header-small.hx-flag-typography {
  font-size: var(--base-small-header-font-size);
  font-weight: var(--base-small-header-font-weight);
  line-height: var(--base-small-header-line-height);
  margin: 0 0 var(--base-header-bottom-margin) 0;
}
