<div class="hx-layout hx-group hx-horizontal">
  <div class="hx-background-positive hx-section hx-small"></div>
  <div class="hx-group hx-vertical hx-medium">
    <div class="hx-background-negative hx-section"></div>
    <div class="hx-background-warning hx-section"></div>
    <div class="hx-group hx-horizontal">
      <div class="hx-background-negative hx-section hx-small"></div>
      <div class="hx-background-warning hx-section hx-small"></div>
    </div>
  </div>
  <div class="hx-background-default hx-section hx-small"></div>
  <div class="hx-background-info hx-section hx-large"></div>
</div>