.hx-slider-inner {
  &:before {
    content: ' ';
    top: (100% - $range-height) / 2;
    height: $range-height;
    background: $background-col;
    border-radius: $inner-border-radius;
  }
}

.hx-slider-range {
  top: (100% - $range-height) / 2;
  height: $range-height;
  background: $range-background-col;
  border-radius: $range-border-radius;

  .hx-slider.hx-disabled & {
    background: $disabled-background-col;
  }

  &:before, &:after {
    background: $slider-background-col;
    border-radius: $slider-border-radius;
  }
}

.hx-slider-double .hx-slider-range {
  &:before {
    border-radius: $slider-left-border-radius;
  }

  &:after {
    border-radius: $slider-right-border-radius;
  }
}

.hx-slider-value {
  color: $text-col;
  background: $value-background-col;
  border-radius: $value-border-radius;

  &:before {
    border-top-color: $value-background-col;
  }

  &.hx-slider-under {
    &:before {
      border-top-color: transparent;
      border-bottom-color: $value-background-col;
    }
  }
}

.hx-slider-point {
  border-radius: $marker-border-radius;
  background: darken($slider-background-col, 5);
  height: $range-height;
  top: (100% - $range-height) / 2;
}