// for apps that should use the full width of the screen (the default is to centre the content)
.hx-full-width {
  .hx-content {
    overflow-x: hidden;
    max-width: 100%;
  }
}

// for apps that should be fixed to the size of the screen
.hx-full-screen {
  .hx-content {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%;
  }
}

.hx-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.hx-group,
.hx-compact-group {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  max-width: 100%;
}

.hx-horizontal {
  flex-direction: row;
  flex-flow: row wrap;
}

.hx-vertical {
  flex-direction: column;
}

.hx-section {
  flex-grow: 1;
  flex-shrink: 1;
}

.hx-fixed {
  flex-grow: 0;
}

// classes for hiding and showing content on mobile devices
@media (min-width: 480px) {
  .hx-phone {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .hx-phone-hide {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .hx-tablet {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .hx-tablet-hide {
    display: none !important;
  }
}

// content breakpoint
@media (max-width: 1300px) {
  .hx-content {
    max-width: 900px;
  }
}
