.hx-content {
  padding-left: var(--layout-content-padding);
  padding-right: var(--layout-content-padding);
  max-width: var(--layout-content-max-width);
  background: var(--layout-content-background-color);
}

.hx-heading + .hx-content {
  padding-top: var(--layout-content-padding);
}

.hx-layout {
  margin:  var(--layout-margin);
}

.hx-group > .hx-section {
  margin:  var(--layout-margin);
}

.hx-group > .hx-section.hx-btn {
  margin:  var(--layout-margin);
}

// named size classes
.hx-small,
.hx-medium,
.hx-large {
  min-width: var(--layout-named-class-min-width);
}

.hx-small {
  // fallback to static percentage in case calc is not supported
  flex-basis: 21%;
  flex-basis: calc(25% - (2 * var(--layout-margin)));
}

.hx-medium {
  // fallback to static percentage in case calc is not supported
  flex-basis: 40%;
  flex-basis: calc(50% - (2 * var(--layout-margin)));
}

.hx-large {
  // fallback to static percentage in case calc is not supported
  flex-basis: 90%;
  flex-basis: calc(100% - (2 * var(--layout-margin)));
}

// content breakpoint
@media (max-width: --layout-content-breakpoint) {
  .hx-content {
    max-width: var(--layout-content-breakpoint-width);
  }
}

.hx-border {
  border: solid 1px var(--layout-border-color);
}

.hx-border-top {
  border-top: solid 1px var(--layout-border-color);
}

.hx-border-right {
  border-right: solid 1px var(--layout-border-color);
}

.hx-border-bottom {
  border-bottom: solid 1px var(--layout-border-color);
}

.hx-border-left {
  border-left: solid 1px var(--layout-border-color);
}