.hx-content {
  padding-left: $content-padding;
  padding-right: $content-padding;
  max-width: $content-max-width;
  background: $content-background-col;
}

.hx-heading + .hx-content {
  padding-top: $content-padding;
}

.hx-layout {
  margin: $margin;
}

.hx-group > .hx-section {
  margin: $margin;

  &.hx-btn {
    margin: $margin;
  }
}

// named size classes
.hx-small,
.hx-medium,
.hx-large {
  min-width: $named-class-min-width;
}

.hx-small {
  flex-basis: 21%;
  // fallback to static percentage in case calc is not supported
  flex-basis: unquote("calc(25% - (2 * #{$margin)}))");
}

.hx-medium {
  flex-basis: 40%;
  // fallback to static percentage in case calc is not supported
  flex-basis: unquote("calc(50% - (2 * #{$margin)}))");
}

.hx-large {
  flex-basis: 90%;
  // fallback to static percentage in case calc is not supported
  flex-basis: unquote("calc(100% - (2 * #{$margin)}))");
}

// content breakpoint
@media (max-width: nth($content-breakpoint, 1)) {
  .hx-content {
    max-width: nth($content-breakpoint, 2);
  }
}

.hx-border {
  border: solid 1px $border-col;
}

.hx-border-top {
  border-top: solid 1px $border-col;
}

.hx-border-right {
  border-right: solid 1px $border-col;
}

.hx-border-bottom {
  border-bottom: solid 1px $border-col;
}

.hx-border-left {
  border-left: solid 1px $border-col;
}