.hx-paginator {
  user-select: none;
  white-space: nowrap;

  button {
    // this supports buttons of width up to 3 digits - not ideal, but should be fine for most use cases
    width: 30px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin: 0;

    &.hx-paginator-three-digits {
      width: 35px;
    }

    &.hx-paginator-more-digits {
      width: 40px;
    }
  }
}