
.hx-table tr,
.hx-table td,
.hx-table th {
  border-color: var(--table-border-color);
}

.hx-table th {
  background: var(--table-header-background-color);
  color: var(--table-header-text-color);
}

.hx-table tbody tr {
  background: var(--table-row-background-color);
  color: var(--table-row-text-color);
}

.hx-table tbody tr:nth-child(2n) {
  background: var(--table-row-alt-background-color);
  color: var(--table-row-alt-text-color);
}

.hx-table tbody tr:hover {
  background: var(--table-row-hover-background-color);
}

.hx-table.hx-table-no-hover tbody tr:hover {
  background: var(--table-row-background-color);
}

.hx-table.hx-table-no-hover tbody tr:nth-child(2n):hover {
  background: var(--table-row-alt-background-color);
}

.hx-flag-table.hx-table tbody tr:hover,
.hx-flag-table .hx-table tbody tr:hover {
  background: var(--table-row-background-color);
}

.hx-flag-table.hx-table tbody tr:nth-child(2n):hover,
.hx-flag-table .hx-table tbody tr:nth-child(2n):hover {
  background: var(--table-row-alt-background-color);
}

.hx-table.hx-table-clickable-rows tbody tr:hover,
.hx-table.hx-table-clickable-rows tbody tr:nth-child(2n):hover {
  background: var(--table-row-hover-background-color);
}
