.hx-menu {
  max-height: 500px;
  overflow-y: auto;
}

.hx-menu-item {
  &.hx-menu-link {
    padding: 0.4em;
    border-left: solid 2px transparent;
    cursor: pointer;

    a {
      display: block;
      padding: 0.4em;
      margin: -0.4em;
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }
  }

  > .hx-collapsible > .hx-menu-collapsible {
    border-left: solid 2px transparent;

    .hx-collapsible-icon {
      margin-left: 0;
    }
  }

  &.hx-menu-item-disabled {
    padding: 0.4em;
    cursor: not-allowed;
    user-select: none;
  }

  &.hx-menu-unselectable {
    padding: 0.4em;
    cursor: default;
    user-select: none;
  }
}

.hx-menu-collapsible {
  padding: 0.75em;
}