.hx-menu {
  max-height: 500px;
  overflow-y: auto;
}

.hx-menu-item.hx-menu-link {
  padding: 0.4em;
  border-left: solid 2px transparent;
  cursor: pointer;
}

.hx-menu-item.hx-menu-link a {
  display: block;
  padding: 0.4em;
  margin: -0.4em;
  color: inherit;
}

.hx-menu-item.hx-menu-link a:hover {
  text-decoration: none;
}

.hx-menu-item > .hx-collapsible > .hx-menu-collapsible {
  border-left: solid 2px transparent;
}

.hx-menu-item > .hx-collapsible > .hx-menu-collapsible .hx-collapsible-icon {
  margin-left: 0;
}

.hx-menu-item.hx-menu-item-disabled {
  padding: 0.4em;
  cursor: not-allowed;
  user-select: none;
}

.hx-menu-item.hx-menu-unselectable {
  padding: 0.4em;
  cursor: default;
  user-select: none;
}

.hx-menu-collapsible {
  padding: 0.75em;
}

.hx-menu .hx-collapsible-content > .hx-menu-item {
  padding-left: 1.5em;
}