.hx-tooltip {
    margin-bottom: var(--tooltip-space);
    background-color: var(--tooltip-background-color);
    font-size: var(--tooltip-font-size);
    color: var(--tooltip-text-color);
    font-weight: var(--tooltip-font-weight);
    padding: var(--tooltip-padding);
    border-radius: var(--tooltip-border-radius);
}

.hx-tooltip-label  {
    border-bottom-color: var(--tooltip-label-underline-color);
    color: var(--tooltip-label-text-color);
}

/* Centre aligned arrow */
/* .hx-tooltip:before {
    left: 50%;
    border: 8px solid transparent;
    border-top: 8px solid #686868;
    transform: translate(-50%, calc(100% + 10px));
} */

/* Left aligned arrow */
.hx-tooltip:before {
    left: calc(var(--tooltip-arrow-spacing) + (0.5 * var(--tooltip-arrow-size)));
    border: var(--tooltip-arrow-size) solid transparent;
    border-top: var(--tooltip-arrow-size) solid var(--tooltip-background-color);
    transform: translate(-50%, calc(100% + var(--tooltip-arrow-spacing)));
}

/* Right aligned arrow */
/*.hx-tooltip:before {
    left: calc(100% - 14px);
    border: 8px solid transparent;
    border-top: 8px solid #686868;
    transform: translate(-50%, calc(100% + 10px));
}*/
