@import "utils/palette/theme";
@import "components/base/theme";

@import "components/input/theme";
@import "components/spinner/theme";
@import "components/modal/theme";
@import "components/notify/theme";
@import "components/alert/theme";
@import "components/button/theme";
@import "components/form/theme";
@import "components/dropdown/theme";
@import "components/collapsible/theme";
@import "components/titlebar/theme";
@import "components/layout/theme";
@import "components/menu/theme";
@import "components/more-button/theme";
@import "components/logo/theme";
@import "components/input-group/theme";
@import "components/drag-container/theme";
@import "components/progress-bar/theme";
@import "components/error-pages/theme";
@import "components/table/theme";
@import "components/toggle/theme";
@import "components/notice/theme";
@import "components/sticky-table-headers/theme";
@import "components/plot/theme";
@import "components/label/theme";
@import "components/slider/theme";
@import "components/card/theme";
@import "components/paginator/theme";
@import "components/date-picker/theme";
@import "components/side-collapsible/theme";
@import "components/time-picker/theme";
@import "components/tabs/theme";
@import "components/tree/theme";
@import "components/data-table/theme";
@import "components/sidebar/theme";
@import "components/tag-input/theme";
@import "components/drawing/theme";
@import "components/badge/theme";
@import "components/single-select/theme";
@import "components/visualization-bar/theme";
