:root {
  /* theme colours - private variables just to reduce duplication in this theme */
  --theme-default-color: #FAFAFA;
  --theme-positive-color: #92BF17;
  --theme-warning-color: #D69B24;
  --theme-negative-color: #EC3A65;
  --theme-info-color: #B36ABB;
  --theme-action-color: #00ADA8;
  --theme-complement-color: #F7F7F9;
  --theme-contrast-color: #4A4E4E;

  --theme-text-color: #3D3D3D;
  --theme-text-alternate-color: #FFF;

  --theme-default-shadow-color: rgba(0, 0, 0, 0.05);
  --theme-disabled-background-color: #FAFAFA;
  --theme-disabled-text-color: #939393;
  --theme-divider-color: #D0D0D0;


  /* Base */
  --base-default-font-family: 'Open Sans', sans-serif;
  --base-heading-font-family: 'Open Sans', sans-serif;
  --base-default-font-size: 14px;
  --base-body-background-color: #f7f7f9;
  --base-default-text-color: var(--theme-text-color);
  --base-heading-text-color: var(--theme-text-color);
  --base-input-background-color: #FFF;
  --base-input-border-color: #DADADA;
  --base-input-text-color: var(--theme-text-color);
  --base-input-focus-border-color: var(--theme-action-color);
  --base-input-invalid-border-color: var(--theme-negative-color);
  --base-input-border-radius: 0.14em;
  --base-select-background-color: #FAFAFA;
  --base-select-border-color: #D8D8D8;
  --base-select-text-color: var(--theme-text-color);
  --base-select-focus-border-color: #B5B5B5;
  --base-text-select-color: #B4B1B5;
  --base-link-color: var(--theme-action-color);
  --base-divider-color: #D0D0D0;
  --base-divider-style: solid;


  /* Badge */
  --badge-border-radius: 0.714rem;
  --badge-border-style: solid;
  --badge-border-width: 1px;
  --badge-font-size: 0.857rem;
  --badge-font-weight: 600;
  --badge-height: 1.286rem;
  --badge-padding: 0 0.5rem;
  --badge-default-color: #4A4E4E;
  --badge-default-text-color: #F3F3F3;
  --badge-inverse-text-color: #3D3D3D;
  --badge-inverse-background-color: #F3F3F3;
  --badge-danger-color: #EC3A65;
  --badge-danger-text-color: #F3F3F3;
  --badge-success-color: #92BF17;
  --badge-success-text-color: #F3F3F3;
  --badge-warning-color: #D69B24;
  --badge-warning-text-color: #F3F3F3;


  /* Button */
  --button-action-background-col: var(--theme-action-color);
  --button-action-border-col: #007a76;
  --button-action-focus-col: #007a76;
  --button-action-hover-background-col: #00e0da;
  --button-action-text-col: var(--theme-text-alternate-color);

  --button-complement-background-col: var(--theme-complement-color);
  --button-complement-border-col: #dadae3;
  --button-complement-focus-col: #dadae3;
  --button-complement-hover-background-col: #e8e8ee;
  --button-complement-text-col: var(--theme-text-color);

  --button-contrast-background-col: var(--theme-contrast-color);
  --button-contrast-border-col: #313434;
  --button-contrast-focus-col: #313434;
  --button-contrast-hover-background-col: #636868;
  --button-contrast-text-col: var(--theme-text-alternate-color);

  --button-default-background-col: #FFF;
  --button-default-border-col: #e6e6e6;
  --button-default-focus-col: #e6e6e6;
  --button-default-hover-background-col: #f2f2f2;
  --button-default-text-col: var(--theme-text-color);

  --button-disabled-background-col: var(--theme-disabled-background-color);
  --button-disabled-border-col: var(--theme-disabled-border-color);

  --button-info-background-col: var(--theme-info-color);
  --button-info-border-col: #9d4ca6;
  --button-info-focus-col: #9d4ca6;
  --button-info-hover-background-col: #c58dcb;
  --button-info-text-col: var(--theme-text-alternate-color);

  --button-invert-background-col: #FDFDFD;
  --button-invert-border-col: #e4e4e4;
  --button-invert-hover-col: #F2F2F2;
  --button-invert-text-col: gray;

  --button-invisible-text-col: #575757;

  --button-negative-background-col: var(--theme-negative-color);
  --button-negative-border-col: #de1546;
  --button-negative-focus-col: #de1546;
  --button-negative-hover-background-col: #f06989;
  --button-negative-text-col: var(--theme-text-alternate-color);

  --button-positive-background-col: var(--theme-positive-color);
  --button-positive-border-col: #6f9112;
  --button-positive-focus-col: #6f9112;
  --button-positive-hover-background-col: #b1e524;
  --button-positive-text-col: var(--theme-text-alternate-color);

  --button-warning-background-col: var(--theme-warning-color);
  --button-warning-border-col: #aa7b1d;
  --button-warning-focus-col: #aa7b1d;
  --button-warning-hover-background-col: #e1b04c;
  --button-warning-text-col: var(--theme-text-alternate-color);

  --button-font-weight: normal;
  --button-border-radius: 0.15em;

  --button-normal-font-size: 1em;
  --button-normal-height: 40px;
  --button-normal-line-height: 40px;
  --button-normal-padding: 0 20px;

  --button-small-font-size: 0.9em;
  --button-small-height: 30px;
  --button-small-line-height: 30px;
  --button-small-padding: 0 20px;

  --button-micro-font-size: 0.9em;
  --button-micro-height: 20px;
  --button-micro-line-height: 20px;
  --button-micro-padding: 0 20px;

  --button-default-font-weight: bold;
  --button-default-text-color: var(--theme-text-color);
  --button-default-background-color: #FFFFFF;
  --button-default-border-color: var(--theme-text-color);
  --button-default-text-hover-color: var(--theme-text-color);
  --button-default-background-hover-color: #e6e6e6;
  --button-default-border-hover-color: var(--theme-text-color);

  --button-disabled-font-weight: bold;
  --button-disabled-border-color: transparent;
  --button-disabled-text-color: var(--theme-disabled-text-color);
  --button-disabled-background-color: var(--theme-disabled-background-color);
  --button-disabled-border-color: var(--theme-disabled-background-color);
  --button-disabled-border-hover-color: var(--theme-disabled-background-color);

  --button-link-font-weight: bold;
  --button-link-text-color: var(--base-link-color);
  --button-link-text-hover-color: var(--base-link-color);

  --button-primary-font-weight: bold;
  --button-primary-text-color: var(--theme-text-alternate-color);
  --button-primary-background-color: var(--theme-action-color);
  --button-primary-border-color: var(--theme-action-color);
  --button-primary-text-hover-color: var(--theme-text-alternate-color);
  --button-primary-background-hover-color: #007a76;
  --button-primary-border-hover-color: #007a76;

  --button-secondary-font-weight: bold;
  --button-secondary-text-color: var(--theme-text-alternate-color);
  --button-secondary-background-color: var(--theme-text-color);
  --button-secondary-border-color: var(--theme-text-color);
  --button-secondary-text-hover-color: var(--theme-text-alternate-color);
  --button-secondary-background-hover-color: #242424;
  --button-secondary-border-hover-color: #242424;

  --button-success-font-weight: bold;
  --button-success-text-color: var(--theme-text-alternate-color);
  --button-success-background-color: var(--theme-positive-color);
  --button-success-border-color: var(--theme-positive-color);
  --button-success-text-hover-color: var(--theme-text-alternate-color);
  --button-success-background-hover-color: #6f9112;
  --button-success-border-hover-color: #6f9112;

  --button-danger-font-weight: bold;
  --button-danger-text-color: var(--theme-text-alternate-color);
  --button-danger-background-color: var(--theme-negative-color);
  --button-danger-border-color: var(--theme-negative-color);
  --button-danger-text-hover-color: var(--theme-text-alternate-color);
  --button-danger-background-hover-color: #de1546;
  --button-danger-border-hover-color: #de1546;


  /* Card */
  --card-action-hover-background-color: #F3F3F3;
  --card-background-color: #FFF;
  --card-border-color: #E7E7E7;
  --card-context-text-color: #FFF;
  --card-header-background-color: #FAFAFA;
  --card-header-text-color: var(--theme-text-color);
  --card-icon-color: var(--theme-text-color);;
  --card-normal-padding: 1em;
  --card-section-border-color: #E7E7E7;
  --card-shadow-color: var(--theme-default-shadow-color);
  --card-small-padding: 0.5em;
  --card-text-color: var(--theme-text-color);


  /* Collapsible */
  --collapsible-content-background-color: #FFF;
  --collapsible-content-border-color: transparent;
  --collapsible-content-text-color: var(--theme-text-color);
  --collapsible-heading-background-color: #FAFAFA;
  --collapsible-heading-text-color: var(--theme-text-color);
  --collapsible-shadow-color: var(--theme-default-shadow-color);
  --collapsible-toggle-background-color: #FFF;
  --collapsible-toggle-hover-background-color: var(--theme-action-color);
  --collapsible-toggle-hover-text-color: var(--theme-text-alternate-color);
  --collapsible-toggle-text-color: var(--theme-text-color);


  /* Data Table */
  --data-table-compact-row-background-color: #FFF;
  --data-table-compact-row-hover-background-color: #FAFAFA;
  --data-table-compact-row-hover-text-color: var(--theme-text-color);
  --data-table-compact-row-shadow-color: var(--theme-default-shadow-color);
  --data-table-compact-row-text-color: var(--theme-text-color);
  --data-table-disabled-row-background-color: var(--theme-disabled-background-color);
  --data-table-disabled-row-text-color: var(--theme-disabled-text-color);
  --data-table-footer-background-color: #FFF;
  --data-table-footer-shadow-color: var(--theme-default-shadow-color);
  --data-table-loading-background-color: rgba(255, 255, 255, 0.4);
  --data-table-no-data-row-background-color: transparent;
  --data-table-no-data-row-text-color: var(--theme-text-color);
  --data-table-row-collapsible-background-color: #FFF;
  --data-table-row-collapsible-text-color: var(--theme-text-color);
  --data-table-selected-row-background-color: #F7F6B8;
  --data-table-status-bar-background-color: #FFB800;
  --data-table-status-bar-text-color: #FFF;


  /* Date Picker */
  --date-picker-border-color: #DADADA;
  --date-picker-day-border-radius: 0.14em;
  --date-picker-day-hover-background-color: var(--theme-action-color);
  --date-picker-day-hover-text-color: var(--theme-text-color);
  --date-picker-divider-color: var(--theme-divider-color);
  --date-picker-error-background-color: #FCBFBF;
  --date-picker-error-outline-color: var(--theme-negative-color);
  --date-picker-grid-padding: 0.7em;
  --date-picker-header-text-color: var(--theme-text-color);
  --date-picker-icon-background-color: var(--theme-action-color);
  --date-picker-icon-color: var(--theme-text-alternate-color);
  --date-picker-input-background-color: #FFF;
  --date-picker-navigation-icon-color: #939393;
  --date-picker-navigation-icon-hover-color: var(--theme-text-color);
  --date-picker-out-of-range-color: var(--theme-disabled-text-color);
  --date-picker-range-background-color: #F9F9F9;
  --date-picker-selected-background-color: var(--theme-action-color);
  --date-picker-selected-text-color: var(--theme-text-alternate-color);
  --date-picker-today-background-color: #E6E6E6;
  --date-picker-today-text-color: var(--theme-text-color);


  /* Drag Container  */
  --drag-container-placeholder-border-color: var(--theme-divider-color);


  /* Drawing */
  --drawing-border-style: 1px solid transparent;
  --drawing-sidebar-background-color: transparent;
  --drawing-sidebar-border-color: #E7E7E7;
  --drawing-sidebar-text-color: var(--theme-text-color);
  --drawing-sidebar-title-background-color: #F9F9F9;
  --drawing-sidebar-title-text-color: var(--theme-text-color);


  /* Dropdown */
  --dropdown-background-color: #FFF;
  --dropdown-border-color: #E7E7E7;
  --dropdown-shadow-color: var(--theme-default-shadow-color);
  --dropdown-spacing: 0;


  /* Error Pages */
  --error-pages-shadow-color: var(--theme-default-shadow-color);
  --error-pages-heading-text-color: var(--theme-text-color);

  --error-pages-background-color: #FFF;
  --error-pages-padding: 2.29em;
  --error-pages-box-shadow: 0.14em 0.14em 0.14em 0.14em var(--theme-default-shadow-color);
  --error-pages-border-radius: 0.14em;
  --error-pages-heading-text-color: var(--theme-text-color);
  --error-pages-heading-font-size: 2em;
  --error-pages-heading-font-weight: bold;
  --error-pages-heading-margin: 1em;
  --error-pages-body-font-size: 1em;
  --error-pages-body-margin: 1em;


  /* Form */
  --form-error-text-color: #FFF;
  --form-error-background-color: #4A4E4E;


  /* Input Group */
  --input-group-div-background-color: #FDFDFD;
  --input-group-div-border-color: #DADADA;
  --input-group-icon-background-color: #EAEAEA;
  --input-group-icon-border-color: #DADADA;
  --input-group-input-background-color: #FFF;
  --input-group-input-border-color: #DADADA;
  --input-group-input-focus-border-color: var(--theme-action-color);
  --input-group-input-invalid-outline-color: var(--theme-negative-color);


  /* Label */
  --label-default-background-color: #FFF;
  --label-default-text-color: var(--theme-text-color);
  --label-default-border-color: var(--theme-default-color);
  --label-default-outline-background-color: #FFF;
  --label-default-outline-text-color: var(--theme-text-color);
  --label-default-outline-border-color: var(--theme-text-color);

  --label-action-background-color: var(--theme-action-color);
  --label-action-text-color: var(--theme-text-alternate-color);
  --label-action-border-color: var(--theme-action-color);
  --label-action-outline-background-color: #FFF;
  --label-action-outline-text-color: var(--theme-action-color);
  --label-action-outline-border-color: var(--theme-action-color);

  --label-positive-background-color: var(--theme-positive-color);
  --label-positive-text-color: var(--theme-text-alternate-color);
  --label-positive-border-color: var(--theme-positive-color);
  --label-positive-outline-background-color: #FFF;
  --label-positive-outline-text-color: var(--theme-positive-color);
  --label-positive-outline-border-color: var(--theme-positive-color);

  --label-negative-background-color: var(--theme-negative-color);
  --label-negative-text-color: var(--theme-text-alternate-color);
  --label-negative-border-color: var(--theme-negative-color);
  --label-negative-outline-background-color: #FFF;
  --label-negative-outline-text-color: var(--theme-negative-color);
  --label-negative-outline-border-color: var(--theme-negative-color);

  --label-warning-background-color: var(--theme-warning-color);
  --label-warning-text-color: var(--theme-text-alternate-color);
  --label-warning-border-color: var(--theme-warning-color);
  --label-warning-outline-background-color: #FFF;
  --label-warning-outline-text-color: var(--theme-warning-color);
  --label-warning-outline-border-color: var(--theme-warning-color);

  --label-info-background-color: var(--theme-info-color);
  --label-info-text-color: var(--theme-text-alternate-color);
  --label-info-border-color: var(--theme-info-color);
  --label-info-outline-background-color: #FFF;
  --label-info-outline-text-color: var(--theme-info-color);
  --label-info-outline-border-color: var(--theme-info-color);

  --label-complement-background-color: var(--theme-complement-color);
  --label-complement-text-color: var(--theme-text-color);
  --label-complement-border-color: var(--theme-complement-color);
  --label-complement-outline-background-color: #FFF;
  --label-complement-outline-text-color: var(--theme-text-color);
  --label-complement-outline-border-color: var(--theme-complement-color);

  --label-contrast-background-color: var(--theme-contrast-color);
  --label-contrast-text-color: var(--theme-text-alternate-color);
  --label-contrast-border-color: var(--theme-contrast-color);
  --label-contrast-outline-background-color: #FFF;
  --label-contrast-outline-text-color: var(--theme-contrast-color);
  --label-contrast-outline-border-color: var(--theme-contrast-color);


  /* Layout */
  --layout-border-color: var(--theme-divider-color);
  --layout-content-background-color: transparent;
  --layout-content-breakpoint-width: 900px;
  --layout-content-max-width: 1200px;
  --layout-content-padding: 1em;
  --layout-margin: 0.3em;
  --layout-named-class-min-width: 250px;
  --layout-spacing: 0.3em;


  /* Logo */
  --logo-path: url("assets/hexagon-logo.svg");


  /* Menu */
  --menu-border-width: 2px;
  --menu-collapsible-background-color: #FDFDFD;
  --menu-collapsible-text-color: var(--theme-text-color);
  --menu-max-height: 500px;
  --menu-item-padding: 0.4em;
  --menu-item-link-margin: -0.4em;
  --menu-collapsible-padding: 0.75em;
  --menu-item-collapsible-left-padding: 1.5em;

  --menu-disabled-background-color: #FFF;
  --menu-disabled-text-color: var(--theme-disabled-text-color);

  --menu-default-border-color: transparent;
  --menu-default-background-color: #FFF;
  --menu-default-text-color: var(--theme-text-color);
  --menu-default-border-color-active: var(--theme-default-color);
  --menu-default-border-color-hover: transparent;
  --menu-default-background-color-active: #F9F9F9;
  --menu-default-background-color-hover: #F9F9F9;
  --menu-default-text-color-active: var(--theme-text-color);
  --menu-default-text-color-hover: var(--theme-text-color);

  --menu-action-border-color: transparent;
  --menu-action-background-color: #FFF;
  --menu-action-text-color: var(--theme-text-color);
  --menu-action-border-color-active: var(--theme-action-color);
  --menu-action-border-color-hover: transparent;
  --menu-action-background-color-active: #F9F9F9;
  --menu-action-background-color-hover: #F9F9F9;
  --menu-action-text-color-active: var(--theme-text-color);
  --menu-action-text-color-hover: var(--theme-text-color);

  --menu-positive-border-color: transparent;
  --menu-positive-background-color: #FFF;
  --menu-positive-text-color: var(--theme-text-color);
  --menu-positive-border-color-active: var(--theme-positive-color);
  --menu-positive-border-color-hover: transparent;
  --menu-positive-background-color-active: #F9F9F9;
  --menu-positive-background-color-hover: #F9F9F9;
  --menu-positive-text-color-active: var(--theme-text-color);
  --menu-positive-text-color-hover: var(--theme-text-color);

  --menu-warning-border-color: transparent;
  --menu-warning-background-color: #FFF;
  --menu-warning-text-color: var(--theme-text-color);
  --menu-warning-border-color-active: var(--theme-warning-color);
  --menu-warning-border-color-hover: transparent;
  --menu-warning-background-color-active: #F9F9F9;
  --menu-warning-background-color-hover: #F9F9F9;
  --menu-warning-text-color-active: var(--theme-text-color);
  --menu-warning-text-color-hover: var(--theme-text-color);

  --menu-negative-border-color: transparent;
  --menu-negative-background-color: #FFF;
  --menu-negative-text-color: var(--theme-text-color);
  --menu-negative-border-color-active: var(--theme-negative-color);
  --menu-negative-border-color-hover: transparent;
  --menu-negative-background-color-active: #F9F9F9;
  --menu-negative-background-color-hover: #F9F9F9;
  --menu-negative-text-color-active: var(--theme-text-color);
  --menu-negative-text-color-hover: var(--theme-text-color);

  --menu-info-border-color: transparent;
  --menu-info-background-color: #FFF;
  --menu-info-text-color: var(--theme-text-color);
  --menu-info-border-color-active: var(--theme-info-color);
  --menu-info-border-color-hover: transparent;
  --menu-info-background-color-active: #F9F9F9;
  --menu-info-background-color-hover: #F9F9F9;
  --menu-info-text-color-active: var(--theme-text-color);
  --menu-info-text-color-hover: var(--theme-text-color);

  --menu-complement-border-color: transparent;
  --menu-complement-background-color: #FFF;
  --menu-complement-text-color: var(--theme-text-color);
  --menu-complement-border-color-active: var(--theme-complement-color);
  --menu-complement-border-color-hover: transparent;
  --menu-complement-background-color-active: #F9F9F9;
  --menu-complement-background-color-hover: #F9F9F9;
  --menu-complement-text-color-active: var(--theme-text-color);
  --menu-complement-text-color-hover: var(--theme-text-color);

  --menu-contrast-border-color: transparent;
  --menu-contrast-background-color: #FFF;
  --menu-contrast-text-color: var(--theme-text-color);
  --menu-contrast-border-color-active: var(--theme-contrast-color);
  --menu-contrast-border-color-hover: transparent;
  --menu-contrast-background-color-active: #F9F9F9;
  --menu-contrast-background-color-hover: #F9F9F9;
  --menu-contrast-text-color-active: var(--theme-text-color);
  --menu-contrast-text-color-hover: var(--theme-text-color);


  /* Modal */
  --modal-shade-color: rgba(0, 0, 0, 0.5);
  --modal-background-color: #FFF;
  --modal-title-background-color: #FFF;
  --modal-title-text-color: var(--theme-text-color);
  --modal-title-font-size: 1em;
  --modal-shadow-color: var(--theme-default-shadow-color);
  --modal-border-radius: 3px;
  --modal-border-color: var(--theme-divider-color);


  /* Notice */
  --notice-shadow-color: var(--theme-default-shadow-color);

  --notice-default-head-background-color: var(--theme-default-color);
  --notice-default-head-text-color: var(--theme-text-color);
  --notice-default-body-background-color: #FFF;
  --notice-default-body-text-color: var(--theme-text-color);

  --notice-action-head-background-color: var(--theme-action-color);
  --notice-action-head-text-color: var(--theme-text-alternate-color);
  --notice-action-body-background-color: #FFF;
  --notice-action-body-text-color: var(--theme-text-color);

  --notice-positive-head-background-color: var(--theme-positive-color);
  --notice-positive-head-text-color: var(--theme-text-alternate-color);
  --notice-positive-body-background-color: #FFF;
  --notice-positive-body-text-color: var(--theme-text-color);

  --notice-warning-head-background-color: var(--theme-warning-color);
  --notice-warning-head-text-color: var(--theme-text-alternate-color);
  --notice-warning-body-background-color: #FFF;
  --notice-warning-body-text-color: var(--theme-text-color);

  --notice-negative-head-background-color: var(--theme-negative-color);
  --notice-negative-head-text-color: var(--theme-text-alternate-color);
  --notice-negative-body-background-color: #FFF;
  --notice-negative-body-text-color: var(--theme-text-color);

  --notice-info-head-background-color: var(--theme-info-color);
  --notice-info-head-text-color: var(--theme-text-alternate-color);
  --notice-info-body-background-color: #FFF;
  --notice-info-body-text-color: var(--theme-text-color);

  --notice-complement-head-background-color: var(--theme-complement-color);
  --notice-complement-head-text-color: var(--theme-text-color);
  --notice-complement-body-background-color: #FFF;
  --notice-complement-body-text-color: var(--theme-text-color);

  --notice-contrast-head-background-color: var(--theme-contrast-color);
  --notice-contrast-head-text-color: var(--theme-text-alternate-color);
  --notice-contrast-body-background-color: #FFF;
  --notice-contrast-body-text-color: var(--theme-text-color);


  /* Notify */
  --notify-background-color: #FFF;
  --notify-border-color: #EFEFEF;
  --notify-close-color: #939393;
  --notify-close-hover-color: #555555;
  --notify-container-background-color: #FFF;
  --notify-container-border-color: transparent;
  --notify-default-color: var(--theme-text-color);
  --notify-info-color: var(--theme-info-color);
  --notify-negative-color: var(--theme-negative-color);
  --notify-pinned-color: #CB9856;
  --notify-pinned-hover-color: #FEB71D;
  --notify-positive-color: var(--theme-positive-color);
  --notify-shadow-color: var(--theme-default-shadow-color);
  --notify-text-color: var(--theme-text-color);
  --notify-unpinned-color: var(--notify-close-color);
  --notify-unpinned-hover-color: var(--notify-close-hover-color);
  --notify-warning-color: var(--theme-warning-color);


  /* Paginator */
  --paginator-selected-background-color: var(--theme-action-color);
  --paginator-selected-text-color: var(--theme-text-alternate-color);
  --paginator-hover-background-color: var(--theme-action-color);
  --paginator-hover-text-color: var(--theme-text-alternate-color);

  --paginator-arrow-button: '';
  --paginator-default-button: hx-complement;
  --paginator-selected-button: hx-action;
  --paginator-button-border-color: #e6e6e6;
  --paginator-button-background-color: #FFF;
  --paginator-button-text-color: var(--theme-text-color);
  --paginator-button-hover-background-color: #e8e8ee;
  --paginator-button-hover-text-color: var(--theme-text-color);
  --paginator-ellipsis-background-color:  transparent;
  --paginator-ellipsis-border-color:  transparent;
  --paginator-ellipsis-text-color: var(--theme-text-color);
  --paginator-button-font-weight: normal;


  /* Palette */
  --palette-default-text-color: var(--theme-default-color);
  --palette-default-background-color: var(--theme-default-color);
  --palette-default-background-text-color: var(--theme-text-color);
  --palette-default-border-color: var(--theme-default-color);

  --palette-action-text-color: var(--theme-action-color);
  --palette-action-background-color: var(--theme-action-color);
  --palette-action-background-text-color: var(--theme-text-alternate-color);
  --palette-action-border-color: var(--theme-action-color);

  --palette-positive-text-color: var(--theme-positive-color);
  --palette-positive-background-color: var(--theme-positive-color);
  --palette-positive-background-text-color: var(--theme-text-alternate-color);
  --palette-positive-border-color: var(--theme-positive-color);

  --palette-warning-text-color: var(--theme-warning-color);
  --palette-warning-background-color: var(--theme-warning-color);
  --palette-warning-background-text-color: var(--theme-text-alternate-color);
  --palette-warning-border-color: var(--theme-warning-color);

  --palette-negative-text-color: var(--theme-negative-color);
  --palette-negative-background-color: var(--theme-negative-color);
  --palette-negative-background-text-color: var(--theme-text-alternate-color);
  --palette-negative-border-color: var(--theme-negative-color);

  --palette-info-text-color: var(--theme-info-color);
  --palette-info-background-color: var(--theme-info-color);
  --palette-info-background-text-color: var(--theme-text-alternate-color);
  --palette-info-border-color: var(--theme-info-color);

  --palette-complement-text-color: var(--theme-text-alternate-color);
  --palette-complement-background-color: var(--theme-complement-color);
  --palette-complement-background-text-color: var(--theme-text-color);
  --palette-complement-border-color: var(--theme-complement-color);

  --palette-contrast-text-color: var(--theme-text-color);
  --palette-contrast-background-color: var(--theme-contrast-color);
  --palette-contrast-background-text-color: var(--theme-text-alternate-color);
  --palette-contrast-border-color: var(--theme-contrast-color);

  --palette-disabled-text-color: var(--theme-disabled-text-color);
  --palette-disabled-background-color: var(--theme-disabled-background-color);
  --palette-disabled-background-text-color: var(--theme-disabled-text-color);
  --palette-disabled-border-color: var(--theme-disabled-border-color);


  /* Plot */
  --plot-axis-line-color: var(--theme-divider-color);
  --plot-axis-title-text-color: var(--theme-text-color);
  --plot-grid-line-color: #E7E7E7;
  --plot-pie-segment-text-color: rgba(255, 255, 255, 0.8);
  --plot-tick-line-color: var(--theme-divider-color);
  --plot-tick-text-color: var(--theme-text-color);
  --plot-tick-text-size: 10px;

  --plot-label-background-color: #FFF;
  --plot-label-border-color: var(--theme-divider-color);
  --plot-label-box-shadow-color: var(--theme-default-shadow-color);
  --plot-label-header-background-color: var(--theme-default-color);
  --plot-label-header-border-color: var(--theme-divider-color);
  --plot-label-header-text-color: var(--theme-text-color);
  --plot-label-key-text-color: var(--theme-text-color);
  --plot-label-text-color: var(--theme-text-color);

  --plot-negative-color: rgb(241,90,113);
  --plot-negative-text-color: var(--theme-default-color);
  --plot-warning-color: rgb(226,212,64);
  --plot-warning-text-color: var(--theme-default-color);
  --plot-positive-color: rgb(151,195,102);
  --plot-positive-text-color: var(--theme-default-color);
  --plot-cold-color: rgb(90,155,212);
  --plot-cold-text-color: var(--theme-default-color);
  --plot-ambient-color: rgb(226,212,64);
  --plot-ambient-text-color: var(--theme-default-color);
  --plot-warm-color: rgb(250,169,91);
  --plot-warm-text-color: var(--theme-default-color);


  /* Progress Bar */
  --progress-bar-border-color: transparent;
  --progress-bar-border-width: 0;
  --progress-bar-background-color: #F0F0F0;
  --progress-bar-default-color: var(--theme-default-color);
  --progress-bar-action-color: var(--theme-action-color);
  --progress-bar-positive-color: var(--theme-positive-color);
  --progress-bar-warning-color: var(--theme-warning-color);
  --progress-bar-negative-color: var(--theme-negative-color);
  --progress-bar-info-color: var(--theme-info-color);
  --progress-bar-complement-color: var(--theme-complement-color);
  --progress-bar-contrast-color: var(--theme-contrast-color);


  /* Side Collapsible */
  --side-collapsible-heading-background-color: var(--theme-default-color);
  --side-collapsible-heading-text-color: var(--theme-text-color);
  --side-collapsible-toggle-hover-background-color: var(--theme-action-color);
  --side-collapsible-toggle-hover-text-color: var(--theme-text-alternate-color);
  --side-collapsible-toggle-background-color: #DDD;
  --side-collapsible-toggle-text-color: var(--theme-text-color);
  --side-collapsible-content-border-color: transparent;
  --side-collapsible-content-background-color: #FFF;
  --side-collapsible-content-text-color: var(--theme-text-color);
  --side-collapsible-shadow-color: var(--theme-default-shadow-color);


  /* Sidebar */
  --sidebar-animation-duration: 0.2s;
  --sidebar-background-color: #FFF;
  --sidebar-collapsible-border-color: transparent;
  --sidebar-section-hover-background-color: #1DBFBB;
  --sidebar-section-hover-text-color: var(--theme-text-alternate-color);
  --sidebar-section-text-color: var(--theme-text-color);
  --sidebar-selected-background-color: var(--theme-action-color);
  --sidebar-selected-text-color: var(--theme-text-color);
  --sidebar-shadow-color: var(--theme-default-shadow-color);
  --sidebar-title-background-color: #FAFAFA;
  --sidebar-title-font: 'Open Sans', sans-serif;
  --sidebar-title-text-color: var(--theme-text-color);
  --sidebar-titlebar-button-background-color: #F8F8F8;
  --sidebar-titlebar-button-hover-text-color: rgba(0, 0, 0, 0.6);
  --sidebar-titlebar-button-text-color: rgba(0, 0, 0, 0.3);
  --sidebar-titlebar-icon-background-color: #F8F8F8;


  /* Slider */
  --slider-background-color: #FDFDFD;
  --slider-disabled-background-color: var(--theme-disabled-color);
  --slider-inner-border-radius: 20px;
  --slider-marker-border-radius: 20px;
  --slider-range-background-color: var(--theme-action-color);
  --slider-range-border-radius: 20px;
  --slider-range-height: 50%;
  --slider-slider-background-color: #DADADA;
  --slider-slider-border-radius: 20px;
  --slider-slider-left-border-radius: 20px 0 0 20px;
  --slider-slider-marker-color: #E2E2E2;
  --slider-slider-right-border-radius: 0 20px 20px 0;
  --slider-text-color: var(--theme-text-alternate-color);
  --slider-value-background-color: var(--theme-text-color);
  --slider-value-border-radius: 5px;


  /* Spinner */
  --spinner-color: var(--theme-action-color);


  /* Table */
  --table-border-color: #E2E1E1;
  --table-header-background-color: #FFF;
  --table-header-text-color: var(--theme-text-color);
  --table-row-alt-background-color: #F3F3F3;
  --table-row-alt-text-color: var(--theme-text-color);
  --table-row-background-color: rgb(247, 247, 249);
  --table-row-hover-background-color: #E4E4E4;
  --table-row-text-color: var(--theme-text-color);


  /* Tabs */
  --tabs-active-opacity: 1;
  --tabs-inactive-opacity: 0.25;
  --tabs-background-color: #FFF;
  --tabs-shadow-color: var(--theme-default-shadow-color);
  --tabs-text-color: var(--theme-text-color);
  --tabs-default-border-color: #9F9F9F;
  --tabs-action-border-color: var(--theme-action-color);
  --tabs-positive-border-color: var(--theme-positive-color);
  --tabs-warning-border-color: var(--theme-warning-color);
  --tabs-negative-border-color: var(--theme-negative-color);
  --tabs-info-border-color: var(--theme-info-color);
  --tabs-complement-border-color: var(--theme-complement-color);
  --tabs-contrast-border-color: var(--theme-contrast-color);


  /* Tag Input */
  --tag-input-border-color: #DADADA;
  --tag-input-background-color: #FFF;
  --tag-input-action-background-color: var(--theme-action-color);
  --tag-input-action-border-color: transparent;
  --tag-input-action-text-color: #FFF;
  --tag-input-complement-background-color: var(--theme-complement-color);
  --tag-input-complement-border-color: transparent;
  --tag-input-complement-text-color: var(--theme-text-color);
  --tag-input-contrast-background-color: var(--theme-contrast-color);
  --tag-input-contrast-border-color: transparent;
  --tag-input-contrast-text-color: #FFF;
  --tag-input-default-background-color: var(--theme-default-color);
  --tag-input-default-border-color: #e6e6e6;
  --tag-input-default-text-color: var(--theme-text-color);
  --tag-input-disabled-background-color: var(--theme-disabled-color);
  --tag-input-disabled-border-color: transparent;
  --tag-input-disabled-text-color: var(--theme-disabled-text-color);
  --tag-input-info-background-color: var(--theme-info-color);
  --tag-input-info-border-color: transparent;
  --tag-input-info-text-color: #FFF;
  --tag-input-negative-background-color: var(--theme-negative-color);
  --tag-input-negative-border-color: transparent;
  --tag-input-negative-text-color: #FFF;
  --tag-input-positive-background-color: var(--theme-positive-color);
  --tag-input-positive-border-color: transparent;
  --tag-input-positive-text-color: #FFF;
  --tag-input-warning-background-color: var(--theme-warning-color);
  --tag-input-warning-border-color: transparent;
  --tag-input-warning-text-color: #FFF;


  /* Time Picker */
  --time-picker-border-color: #DADADA;
  --time-picker-error-background-color: #FCBFBF;
  --time-picker-error-outline-color: var(--theme-negative-color);
  --time-picker-icon-background-color: var(--theme-action-color);
  --time-picker-icon-color: var(--theme-text-alternate-color);
  --time-picker-input-background-color: #FFF;



  /* Titlebar */
  --titlebar-default-background-color: #F8F8F8;
  --titlebar-action-background-color: var(--theme-action-color);
  --titlebar-positive-background-color: var(--theme-positive-color);
  --titlebar-warning-background-color: var(--theme-warning-color);
  --titlebar-negative-background-color: var(--theme-negative-color);
  --titlebar-info-background-color: var(--theme-info-color);

  --titlebar-context-icon-background: #FFF;
  --titlebar-context-icon-color: rgba(255, 255, 255, 0.5);
  --titlebar-context-icon-hover-color: rgba(255, 255, 255, 0.85);
  --titlebar-context-text-color: #F3F3F3;

  --titlebar-font-weight: 100;

  --titlebar-heading-border-bottom-color: #D0D0D0;
  --titlebar-heading-border-bottom-width: 0;
  --titlebar-heading-shadow-color: var(--theme-default-shadow-color);

  --titlebar-height: 46px;

  --titlebar-icon-background-color: transparent;
  --titlebar-icon-color: rgba(0, 0, 0, 0.3);
  --titlebar-icon-hover-color: rgba(0, 0, 0, 0.6);
  --titlebar-icon-tooltip-background-color: var(--theme-text-color);
  --titlebar-icon-tooltip-text-color: var(--theme-text-alternate-color);
  --titlebar-icon-vertical-offset: 12px;

  --titlebar-link-border-hover-color: #777;
  --titlebar-link-border-selected-color: var(--theme-action-color);
  --titlebar-link-text-color: var(--theme-text-color);
  --titlebar-link-text-hover-color: var(--theme-text-color);

  --titlebar-linkbar-background-color: #FFF;
  --titlebar-linkbar-height: 40px;

  --titlebar-menu-context-border-color: transparent;
  --titlebar-menu-context-text-color: #FFF;

  --titlebar-mobile-view-icons-background-color: #424A54;
  --titlebar-mobile-view-icons-text-color: #DADADA;
  --titlebar-mobile-view-icons-text-hover-color: #EEEEEE;

  --titlebar-text-color: var(--theme-text-color);

  --titlebar-title-font-family: 'Open Sans', sans-serif;
  --titlebar-title-font-size: 1.7em;
  --titlebar-title-text-color: var(--theme-action-color);


  /* Toggle */
  --toggle-background-off-color: #D5D5D5;
  --toggle-background-on-color: #D5D5D5;
  --toggle-toggle-off-color: #ABABAB;
  --toggle-toggle-on-color: var(--theme-positive-color);


  /* Tree */
  --tree-background-color: #FFF;
  --tree-icon-background-color: var(--theme-default-color);
  --tree-icon-background-hover-color: var(--theme-default-color);
  --tree-icon-disabled-background-color: var(--theme-disabled-color);
  --tree-icon-disabled-text-color: var(--theme-disabled-text-color);
  --tree-icon-text-color: var(--theme-text-color);
  --tree-icon-text-hover-color: var(--theme-text-color);
  --tree-item-border-left-color: var(--theme-default-color);
  --tree-shadow-color: var(--theme-default-shadow-color);


  /* Sticky Table Headers */
  --sticky-table-headers-scroll-indicator-shadow-color: rgba(0, 0, 0, 0.5);
}
