@function getTextColFromBG($col) {
  @if lightness($col) > 60 {
    @return $dark-text-col;
  }

  @else {
    @return $light-text-col;
  }
}

@mixin hx-color($which, $col) {
  .hx-text-#{$which} {
    color: $col !important;
  }

  .hx-background-#{$which} {
    background-color: $col !important;
    color: getTextColFromBG($col) !important;

    a, .hx-background-text-color, .hx-header {
      color: getTextColFromBG($col) !important;
    }
  }

  .hx-border-#{$which} {
    border-color: $col !important;
  }
}

@include hx-color(default, $default-col);

@include hx-color(action, $action-col);

@include hx-color(positive, $positive-col);

@include hx-color(warning, $warning-col);

@include hx-color(negative, $negative-col);

@include hx-color(info, $info-col);

@include hx-color(complement, $complement-col);

@include hx-color(contrast, $contrast-col);

.hx-text-disabled {
  color: $disabled-text-col !important;
}

.hx-background-disabled {
  background-color: $disabled-col !important;
}

.hx-border-disabled {
  border-color: $disabled-col !important;
}