.hx-paginator {
  user-select: none;
  white-space: nowrap;
}
.hx-paginator button {
  width: 30px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
.hx-paginator button.hx-paginator-three-digits {
  width: 35px;
}
.hx-paginator button.hx-paginator-more-digits {
  width: 40px;
}

.hx-paginator-nav:focus {
  outline: none;
}

.hx-paginator-button-container {
  display: inline-block;
}

.hx-paginator-button,
.hx-paginator-button:focus {
  border: 1px solid transparent;
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  line-height: 38px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.hx-paginator-button-container:not(.hx-paginator-ellipsis-container) + .hx-paginator-button-container .hx-paginator-button {
  border-left: none;
}

.hx-paginator-button-container:first-child .hx-paginator-button {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.hx-paginator-button-container:last-child .hx-paginator-button {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.hx-paginator-prev-next-container .hx-paginator-button {
  width: auto;
  padding: 0 20px;
}

.hx-paginator-button:hover {
  text-decoration: none;
}

.hx-paginator-ellipsis,
.hx-paginator-ellipsis:hover {
  cursor: default;
}
.hx-paginator-ellipsis:after,
.hx-paginator-ellipsis:hover:after {
  content: "\2219\2219\2219";
  letter-spacing: -4px;
  margin-left: -2px;
  vertical-align: 1px;
  font-family: monospace;
  font-size: 18px;
}

.hx-paginator-selected,
.hx-paginator-selected:hover {
  cursor: default;
}

.hx-paginator-disabled,
.hx-paginator-disabled:hover {
  cursor: not-allowed;
}

.hx-paginator nav {
  display: inline-block;
}

.hx-paginator ul {
  margin: 0;
  padding: 0;
}

.hx-paginator-center {
  text-align: center;
}
