.hx-data-table {
  display: flex;
  flex-direction: column;
  // Position relative is so the loading div covers the whole table
  position: relative;
  min-height: 3em;

  .hx-data-table-content {
    flex-shrink: 1;
    flex-grow: 1;
  }

  .hx-data-table-loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
  }

  .hx-data-table-loading-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    margin: -10px 0 0 -50px;
  }

  // Status Bar
  .hx-data-table-status-bar {
    padding: 0.4em;
    text-align: center;
    display: none;
  }

  .hx-data-table-status-bar-clear {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &.hx-data-table-has-selection >  {
    .hx-data-table-status-bar {
      display: block;
    }
  }

  // Control Panel
  .hx-btn-invisible {
    padding: 0.4em;
    margin: 0 0.4em;
    white-space: nowrap;

    &:first-child {
      margin-left: 0;
    }

    &:last-child:not(.hx-toggle) {
      margin-right: 0;
    }
  }

  .hx-data-table-btn-disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }

  .hx-data-table-control-panel {
    display: none;
  }

  .hx-data-table-control-panel-visible {
    display: block;
  }

  .hx-data-table-control-panel-inner {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-end;
  }

  .hx-data-table-filter-container {
    display: flex;
  }

  .hx-data-table-spacer {
    flex-grow: 1;
  }

  .hx-data-table-sort,
  .hx-data-table-paginator,
  .hx-data-table-page-size {
    padding: 0.2em 0.4em;
    display: none;
    flex-wrap: nowrap;
    align-items: center;
  }

  .hx-data-table-filter {
    display: none;
    margin: 0.2em;
    padding: 0.3em;
    flex: 1;
    min-width: 0;
  }

  .hx-data-table-page-size-visible,
  .hx-data-table-paginator-visible {
    display: flex;
  }

  .hx-data-table-filter-visible {
    display: inline-block;
  }


  .hx-data-table-control-panel-compact-toggle {
    opacity: 0.4;
    display: none;
    font-size: 1.5em;
  }

  .hx-data-table-control-panel-compact-toggle-visible {
    display: initial;
  }

  .hx-data-table-control-panel-compact {
    display: none;
    margin-right: 2px;

    &.hx-data-table-control-panel-compact-open {
      .hx-data-table-control-panel-compact-toggle {
        opacity: 0.75;
      }
    }
  }

  .hx-data-table-advanced-search-icon {
    margin-right: 0.2em;
  }

  .hx-data-table-advanced-search-container {
    flex-grow: 100;
    flex-shrink: 1;
    max-width: 100%;
    min-width: 320px;
  }

  .hx-data-table-advanced-search-toggle,
  .hx-data-table-advanced-search-container {
    display: none;
  }

  .hx-data-table-advanced-search-visible {
    display: block;
  }

  .hx-data-table-advanced-search-toggle:first-child {
    // Lines it up with the search box properly
    padding: 0.5em 0.2em;
    margin: 0.25em 0.2em;
  }

  .hx-data-table-advanced-search-filter-group:first-child {
    .hx-data-table-advanced-search-filter:first-child {
      .hx-data-table-advanced-search-type {
        display: none;
      }
      .hx-data-table-advanced-search-column {
        border-radius: 0.2em 0 0 0.2em;
      }
    }
  }

  .hx-data-table-advanced-search:not(:empty) {
    margin: 0.2em;
  }

  .hx-data-table-advanced-search-filter-group + .hx-data-table-advanced-search-filter-group {
    margin-top: 0.75em;
  }

  .hx-data-table-advanced-search-filter {
    margin: 0.25em 0 0 0;
    flex-wrap: wrap;
    max-width: 40em;
  }

  .hx-data-table-advanced-search-filter + .hx-data-table-advanced-search-filter {
    margin-left: 0.5em;
    max-width: 39.5em;
  }

  .hx-data-table-advanced-search-column,
  .hx-data-table-advanced-search-criteria,
  .hx-data-table-advanced-search-type,
  .hx-data-table-advanced-search-filter-input-container {
    flex-shrink: 0;
    flex-grow: 1;
    width: auto;
  }

  .hx-data-table-advanced-search-filter-input-container {
    flex-grow: 5;
  }

  .hx-data-table-advanced-search-input {
    min-width: 3em;
  }

  .hx-data-table-advanced-search-button {
    padding: 0.3em 0.4em;
  }


  .hx-data-table-control-panel-bottom {
    display: none;
    margin: 0.2em 2px 0 0;
  }

  // Cell Styles
  .hx-data-table-cell {
    padding: 0;
  }

  .hx-data-table-cell-key {
    display: none;
  }

  .hx-data-table-cell-inner,
  .hx-data-table-cell-value {
    padding: 0.3em 0.75em;
  }

  .hx-data-table-cell-inner {
    display: flex;
    align-items: center;
  }

  .hx-data-table-title {
    flex: 1;
  }

  .hx-data-table-cell-sort-enabled {
    cursor: pointer;
  }

  .hx-data-table-sort-icon {
    opacity: 0.15;
    margin-left: 0.4em;

    &.hx-data-table-sort-on {
      opacity: 0.5;
    }
  }

  .hx-data-table-cell-grouped {
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  .hx-data-table-control {
    width: 1px;
    padding: 0;
    min-width: 2.5em;

    div {
      padding: 0.4em;
      display: inline-block;
    }
  }

  .hx-data-table-collapsible-toggle {
    cursor: pointer;
    opacity: 0.7;
  }

  .hx-data-table-collapsible-disabled {
    cursor: not-allowed;
    opacity: 0.1;
  }

  .hx-data-table-checkbox {
    cursor: pointer;
    opacity: 0.15;
  }

  .hx-data-table-row-disabled {
    .hx-data-table-checkbox {
      cursor: default;
      opacity: 0;
    }
  }

  .hx-data-table-row-selected {
    .hx-data-table-checkbox {
      opacity: 1;
    }
  }

  .hx-data-table-row-no-data {
    text-align: center;
  }

  .hx-data-table-collapsible-content-row {
    display: none;
  }

  .hx-data-table-collapsible-row-spacer {
    display: none;
    height: 0;
    margin: 0;
    border: none;

    td, th {
      height: 0;
      width: 0;
      padding: 0;
    }
  }

  // Easier / more reliable to 'not' than to override (?)
  &:not(.hx-data-table-compact) {
    .hx-data-table-collapsible-cell {
      border-top-style: dashed;
      border-top-width: 1px;
      border-bottom-style: dashed;
      border-bottom-width: 1px;
      border-right-color: transparent;
      padding: 0;
    }

    .hx-data-table-collapsible-content-container {
      border-color: inherit;
      margin: 0.5em 0.5em 0.5em 1em;
    }

    .hx-data-table-collapsible-content {
      border-left-style: dashed;
      border-left-width: 1px;
      padding: 0.5em 0.5em 0.5em 1em;
      box-sizing: border-box;
      border-color: inherit;
    }
  }

  .hx-data-table-collapsible-row-visible {
    display: table-row;
  }

  &.hx-data-table-has-page-selection > .hx-data-table-content{
    > .hx-sticky-table-header-top-left .hx-data-table-checkbox {
      opacity: 1;
    }
  }

  &.hx-data-table-disable-text-selection {
    // Class used to disable text selection when shift-selecting (added when shift key is pressed)
    user-select: none;
  }

  &.hx-data-table-infinite {
    .hx-data-table-paginator-picker {
      display: none;
    }
  }


  &.hx-data-table-compact,
  &.hx-data-table-show-search-above-content {
    .hx-data-table-control-panel-bottom {
      order: 4;
    }

    .hx-data-table-control-panel-bottom-visible {
      display: flex;
    }
  }

  // Use 'not' so we don't have to override styles in compact mode
  &:not(.hx-data-table-compact) {
    .hx-data-table-control-panel-visible:not(.hx-data-table-filter-enabled) {
      display: flex;
      flex-flow: row wrap-reverse;
      align-items: flex-end;

      .hx-data-table-control-panel-inner {
        order: 2;
      }
    }

    &.hx-data-table-show-search-above-content {
      .hx-data-table-control-panel {
        order: 1;
        box-shadow: none;

        .hx-data-table-page-size,
        .hx-data-table-paginator {
          display: none;
        }
      }
      .hx-data-table-status-bar {
        order: 2;
      }
      .hx-data-table-content {
        order: 3;
      }
    }
  }

  // Compact Mode
  &.hx-data-table-compact {
    [class^="hx-sticky-table-"] {
      display: none;
    }

    [class^="hx-sticky-table-scroll-"] {
      display: none !important;
    }

    th, td {
      border: none;
    }

    .hx-data-table-control-panel-bottom {
      flex-direction: column;
    }

    .hx-data-table-compact-hide {
      display: none;
    }

    .hx-data-table-paginator-picker {
      padding-left: 0;
    }

    .hx-sticky-table-headers {
      max-height: none !important;
      max-width: none !important;
      overflow: auto;
    }

    .hx-sticky-table-wrapper {
      display: block;
      max-height: none !important;
      max-width: none !important;
      margin: 0 !important;
      width: auto !important;
      height: auto !important;
      overflow: visible;
    }

    .hx-data-table-table {
      width: auto !important;
      margin: 0 !important;
      min-height: 0 !important;
      min-width: 0 !important;
    }

    .hx-data-table-content {
      margin: 0.4em 0 2px 0 !important;
      padding-right: 2px;
    }

    .hx-sticky-table-invisible {
      visibility: visible;
    }

    .hx-data-table-control-panel-compact-visible {
      display: flex;
    }

    .hx-data-table-control-panel-inner {
      flex-direction: column-reverse;
    }

    .hx-data-table-advanced-search-buttons {
      display: flex;

      button {
        flex: 1 0 auto;
      }
    }

    .hx-data-table-advanced-search-toggle {
      text-align: left;
    }

    .hx-data-table-sort {
      display: none;
    }

    .hx-data-table-sort-visible {
      display: flex;
    }

    .hx-data-table-page-size {
      order: 3;
    }

    .hx-data-table-sort {
      order: 2;
    }

    .hx-data-table-filter-container {
      order: 1;
      flex-direction: column;
    }

    .hx-data-table-control-panel {
      order: 1;
      margin-right: 2px;

      .hx-data-table-spacer {
        display: none;
      }
    }

    .hx-data-table-status-bar {
      order: 2;
      margin-right: 2px;
    }

    .hx-data-table-content {
      order: 3;
    }

    .hx-data-table-head {
      display: none;
    }

    .hx-data-table-table,
    .hx-data-table-body {
      display: block;
    }

    .hx-data-table-row {
      display: block;
      margin: 0.4em 0;
      padding: 0.4em;
      position: relative;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .hx-data-table-control {
      display: flex;
      flex-direction: row-reverse;
      position: absolute;
      right: 0;
      bottom: 0;
      width: auto;
      background: transparent;
      font-size: 1.5em;
      border: none;
    }

    .hx-data-table-collapsible-row-visible {
      display: block;
    }

    .hx-data-table-collapsible-cell-empty {
      display: none;
    }

    .hx-data-table-collapsible-content-row {
      margin: 0.4em 0;
      // 'join' to the previous row
      margin-top: -0.4em;
      padding: 0.4em;
      border-top-style: dashed;
      border-top-width: 1px;
      position: relative;
    }

    .hx-data-table-cell {
      display: table-row;
      padding: 0.4em;
    }

    .hx-data-table-cell-key {
      display: table-cell;
      padding: 0.15em 0.4em 0.15em 0.15em;
      font-weight: bold;
      text-align: right;
    }

    .hx-data-table-cell-value {
      display: table-cell;
      padding: 0.15em;
    }
  }
}

// Shown in picker dropdown
.hx-data-table-compact-sort-arrow {
  opacity: 0.5;
  margin-left: 0.4em;
}
