.hx-data-table {
  // Container styles
  .hx-data-table-status-bar {
    background: $status-bar-background-col;
    color: $status-bar-text-col;
  }

  .hx-data-table-loading {
    background: $loading-background-col;
  }

  // Cell styles
  thead {
    .hx-data-table-cell {
      &:hover {
        background: $header-cell-hover-background-col;
      }
    }

    .hx-data-table-cell-grouped {
      border-color: $cell-border-col;
    }

    .hx-data-table-cell,
    .hx-data-table-cell-grouped {
      border-color: $cell-border-col;
    }
  }

  .hx-data-table-control {
    border-color: $cell-border-col;
  }

  // row styles
  .hx-data-table-row {
    &:nth-child(odd),
    &:nth-child(even) {
      &.hx-data-table-row-disabled {
        &,
        &:hover {
          background: $disabled-row-background-col;
          color: $disabled-row-text-col;
        }
      }

      &.hx-data-table-row-selected {
        background: $selected-row-background-col;
      }
    }
  }

  .hx-data-table-row-no-data {
    &,
    &:hover {
      background: $no-data-row-background-col;
      color: $no-data-row-text-col;
    }
  }

  .hx-data-table-collapsible-content-row {
    &:nth-child(odd),
    &:nth-child(even) {
      &, &:hover {
        background: $row-collapsible-background-col;
        color: $row-collapsible-text-col;
      }
    }
  }

  &:not(.hx-data-table-compact) {
    .hx-data-table-collapsible-content-row {
      &:nth-child(odd),
      &:nth-child(even) {
        &, &:hover {
          background: $row-collapsible-background-col;
        }
      }

      .hx-data-table-collapsible-cell {
        border-top-color: $cell-border-col;
        border-bottom-color: $cell-border-col;
      }

      .hx-data-table-collapsible-content {
        border-left-color: $cell-border-col;
      }
    }
  }

  // Compact mode
  &.hx-data-table-compact {
    .hx-data-table-row,
    .hx-data-table-collapsible-content-row {
      color: $compact-row-text-col;
      box-shadow: 1px 1px 1px $compact-row-shadow-col;
    }

    .hx-data-table-row {
      &:nth-child(even),
      &:nth-child(odd) {
        &:not(.hx-data-table-row-disabled):not(.hx-data-table-row-selected) {
          background: $compact-row-background-col;
          color: $compact-row-text-col;

          &:hover {
            background: $compact-row-hover-background-col;
            color: $compact-row-hover-text-col;
          }
        }
      }
    }

    .hx-data-table-collapsible-content-row {
      border-top-color: $cell-border-col;
    }
  }

  .hx-data-table-footer {
    background: $footer-background-col;
  }
}