.hx-side-collapsible-heading {
  background: $heading-background-col;
  color: $heading-text-col;
}

.hx-side-collapsible-toggle:hover,
.hx-side-collapsible-heading:not(.hx-side-collapsible-heading-no-hover):hover {
  background: $toggle-hover-background-col;
  color: $toggle-hover-text-col;
}

.hx-side-collapsible-toggle {
  background: $toggle-background-col;
  color: $toggle-text-col;
}

.hx-side-collapsible-content {
  border-color: $content-border-col;
  background: $content-background-col;
}

.hx-side-collapsible {
  box-shadow: 1px 1px 1px 1px $shadow-col;
}