html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

input,
textarea,
keygen,
select,
button {
  font-size: 1em;
}

h1,
h2,
.hx-header-large,
.hx-header-medium {
  font-weight: 100;
}

h3,
h4,
h5,
h6,
.hx-header-small {
  font-weight: 700;
}

.hx-header-large {
  font-size: 2em;
}

.hx-header-medium {
  font-size: 1.5em;
}

.hx-header-small {
  font-size: 1.17em;
}

textarea,
input {
  outline: none;
  margin: 0.4em;
  border: solid;
  border-width: 1px;
  padding: 0.4em;

  &:invalid {
    border-width: 1px;
    border-style: dotted;

    &:focus {
      border-style: solid;
    }
  }
}

input {
  padding-left: 0.4em;

  &[type="radio"],
  &[type="checkbox"] {
    height: 0.8em;
    padding: 0;
    margin: 0.4em;
  }
}

select {
  outline: none;
  border: solid;
  border-width: 1px;
  border-radius: 2px;
  padding: 0 0.4em;
  font-size: 1em;
  margin: 0.4em;
  height: 2em;
  line-height: 2em;
}

pre {
  overflow-x: auto;
}

// browser specific hacks
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  &[type="number"] {
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@keyframes grow {
  0% {
    transform: scale(0.3);
  }

  60% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}


input[type=radio],
input[type=checkbox] {
  display: inline-block;
  margin: 2px;
  padding: 0;
  width: 16px;
  height: 16px;
  color: #555;
  line-height: 0;
  text-align: center;
  border: 1px solid #bbb;
  background: #fff;
  outline: 0;
  cursor: pointer;
  vertical-align: middle;
  -webkit-appearance: none;
  border-radius: 2px;
  transform: translateZ(0);
  transition: all .2s ease-in-out;

  &::before {
    float: left;
    display: inline-block;
    content: '\2022';
    margin: 3px;
    width: 8px;
    height: 8px;
    text-indent: -9999px;
    background: #6f7476;
    vertical-align: middle;
    border-radius: 2px;
    opacity: 0;
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    transform: scale(0.3);
  }

  &:checked:before {
    opacity: 1;
    transition: opacity 0 ease-in-out, transform .2s ease-in-out;
    transform: scale(1);
  }
}

input[type=radio] {
  border-radius: 50%;

  &:before {
    border-radius: 50%;
  }
}

hr {
  border: 1px solid transparent;
}

input,
textarea,
select {
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
