@mixin font {
  font-family: $default-font-family;
  font-size: $default-font-size;
}

%font {
  font-family: $default-font-family;
  font-size: $default-font-size;
}

body {
  @extend %font;
  background: $body-background-col;
  color: $default-text-col;
}

button {
  @extend %font;
}

h1,
h2,
h3,
h4,
h5,
h6,
.hx-header-large,
.hx-header-medium,
.hx-header-small,
.hx-header {
  font-family: $heading-font-family;
  color: $heading-text-col;
}

textarea,
input {
  @extend %font;
  background-color: $input-background-col;
  border-color: $input-border-col;
  color: $input-text-col;
  border-radius: $input-border-radius;

  &:focus {
    border-color: $input-focus-border-col;
  }

  &:invalid {
    border-color: $input-invalid-border-col;
  }
}

select {
  border-color: $select-border-col;
  background: $select-background-col;
  color: $select-text-col;

  &:focus {
    border-color: $select-focus-border-col;
  }
}

::selection {
  background: $text-select-col;
}

a {
  color: $link-col;
}

hr {
  border-color: $divider-col;
  border-style: $divider-style;
}