.hx-slider-inner {
  height: 1.6em;
  position: relative;
  user-select: none;
  margin: 0 0.8em;
}

.hx-slider-inner:before {
  position: absolute;
  right: 0;
  left: 0;
}

.hx-slider-value {
  padding: 0.4em;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  white-space: nowrap;
  margin: 0 0 1em 0;
  bottom: 100%;
  display: none;
  opacity: 0;
  z-index: 50;
}

.hx-slider-value:before {
  border: solid transparent;
  border-width: 0.75em;
  top: 100%;
  content: ' ';
  height: 0;
  left: 50%;
  margin: -0.25em 0 0 -0.75em;
  pointer-events: none;
  position: absolute;
  width: 0;
}

.hx-slider-value.hx-slider-active {
  display: block;
}

.hx-slider-value.hx-slider-under {
  bottom: auto;
  top: 100%;
  margin: 1em 0 0 0;
}

.hx-slider-value.hx-slider-under:before {
  top: auto;
  bottom: 100%;
  margin: 0 0 -0.25em -0.75em;
}


.hx-slider-range {
  height: 100%;
  position: absolute;
}

.hx-slider-range:before,
.hx-slider-range:after {
  content: ' ';
  width: 1.6em;
  top: -0.4em;
  bottom: -0.4em;
  cursor: move;
  position: absolute;
  text-align: center;
}

.hx-slider-range:before {
  display: none;
  left: -0.8em;
}

.hx-slider-range:after {
  right: -0.8em;
}

.hx-slider-double .hx-slider-range {
  border-radius: 0;
  min-width: 0.1em;
}

.hx-slider-double .hx-slider-range:before,
.hx-slider-double .hx-slider-range:after {
  width: 0.8em;
}

.hx-slider-double .hx-slider-range:before {
  left: -0.8em;
  display: block;
}

.hx-slider-double .hx-slider-range:after {
  right: -0.8em;
}

.hx-slider-double .hx-slider-value {
  margin-left: -0.4em;
}

.hx-slider-double .hx-slider-value + .hx-slider-value {
  margin-left: 0.4em;
}

.hx-slider-discrete .hx-slider-range {
  transition: left 0.2s ease, width 0.2s ease;
}

.hx-slider-discrete .hx-slider-point {
  position: absolute;
  transform: scale(0.5, 0.5);
  border-radius: 20px;
}

.hx-slider-discrete .hx-slider-point:nth-last-child(2) {
  transform: scale(0.5, 0.5) translateX(-14px);
}
